{%- if article and article != empty -%}

  <div class="article-card-wrapper card-wrapper underline-links-hover relative" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">
    <div class="card article-card">
      <div>
        {%- if show_image == true and article.image -%}
          <a href="{{ article.url }}">
            <img
              srcset="
                {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                {{ article.image.src | image_url }} {{ article.image.src.width }}w
              "
              src="{{ article.image.src | image_url: width: 1500 }}"
              sizes="(min-width: 780px) calc(33.33vw - 32px), calc(100vw - 32px)"
              alt="{{ article.image.src.alt | escape }}"
              class="motion-reduce"
              {% unless lazy_load == false %}
                loading="lazy"
              {% endunless %}
              width="{{ article.image.width }}"
              height="{{ article.image.height }}"
            >
          </a>
        {%- endif -%}
        <div class="card__content">
          <div class="flex flex-col mt-1">
            <div class="text-12 text-slate">
              {% for tag in article.tags %}
                <span>{{ tag }}{% unless forloop.last %},{% endunless %}</span>
              {%- endfor -%}
            </div>
            <h3 class="font-unis text-12 leading-none">
              <a href="{{ article.url }}" class="text-link after:absolute after:inset-0 after:z-10">
                <span>{{ article.title | truncate: 50 | escape }}</span>
              </a>
            </h3>
            
            {%- if show_excerpt -%}
              {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                <p class="text-12">
                  {%- if article.excerpt.size > 0 -%}
                    {{ article.excerpt | strip_html | truncatewords: 30 }}
                  {%- else -%}
                    {{ article.content | strip_html | truncatewords: 30 }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            {%- endif -%}
          </div>
          {%- if show_badge -%}
            <div>
              <span>{{ 'blogs.article.blog' | t }}</span>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
