{%- liquid
  assign image_height = card_product.featured_media.width | divided_by: card_product.featured_media.aspect_ratio
  if template == 'collection'
    assign sizes = '(min-width: 780px) calc(25vw - 22px), calc(50vw - 12px)'
  else 
    assign sizes = '(min-width: 780px) calc(25vw - 26px), calc(50vw - 20px)'
  endif
-%}

<div class="card__inner grow relative" x-data="{ showImage:true }" {%- if template == 'collection' -%} x-intersect="$el.classList.add('scrollin', 'ease-sysum')" {%- endif -%}>
  <div class="card__media">
    <div class="relative">
      {%- if card_product.featured_media.media_type == 'image' -%}
        <img
          srcset="
            {{ card_product.media[1] | image_url: width: 165 }} 165w,
            {{ card_product.media[1] | image_url: width: 360 }} 360w,
            {{ card_product.media[1] | image_url: width: 533 }} 533w,
            {{ card_product.media[1] | image_url: width: 720 }} 720w,
            {{ card_product.media[1] | image_url: width: 940 }} 940w,
            {{ card_product.media[1] | image_url: width: 1066 }} 1066w
          "
          src="{{ card_product.media[1] | image_url: width: 1066 }}"
          sizes="{{ sizes }}"
          alt="{{ card_product.featured_media.alt | escape }}"
          {% unless lazy_load == false %}
            loading="lazy"
          {% endunless %}
          width="{{ card_product.media[1].width }}"
          height="{{ image_height }}"
          x-show="showImage"
          x-transition.opacity.duration.320ms
          class="absolute top-0 left-0 motion-reduce"
        >
        {% else %}
        <div x-show="showImage", x-transition.opacity.duration.320ms, class="absolute top-0 left-0 motion-reduce">
          {{ card_product.featured_media | media_tag: image_size: "2048x", autoplay: true, loop: true, controls: false, preload: "none" }}
        </div>
      {%- endif -%}
      {%- if card_product.featured_media.media_type == 'image' -%}
        <img
          srcset="
            {{ card_product.featured_media | image_url: width: 165 }} 165w,
            {{ card_product.featured_media | image_url: width: 360 }} 360w,
            {{ card_product.featured_media | image_url: width: 533 }} 533w,
            {{ card_product.featured_media | image_url: width: 720 }} 720w,
            {{ card_product.featured_media | image_url: width: 940 }} 940w,
            {{ card_product.featured_media | image_url: width: 1066 }} 1066w
          "
          src="{{ card_product.featured_media | image_url: width: 1066 }}"
          sizes="{{ sizes }}"
          alt="{{ card_product.featured_media.alt | escape }}"
          class="motion-reduce"
          loading="lazy"
          width="{{ card_product.featured_media.width }}"
          height="{{ image_height }}"
        >
      {% else %}
        {{ card_product.featured_media | media_tag: image_size: "2048x", autoplay: true, loop: true, controls: false, preload: "none" }}
      {%- endif -%}
    </div>
  </div>
  <div class="card__content">
    <div class="card__information mt-1 flex flex-col">
      {% liquid 
        assign giftcard = false
        if card_product.title == "Gift Card" 
          assign giftcard = true
        endif
      %}
      {%- if show_vendor -%}
        <span class="visually_hidden">{{ 'accessibility.vendor' | t }}</span>
        <span class="text-12" {% unless giftcard %}x-show="showImage"{% endunless %}>{{ card_product.vendor }}</span>
      {%- endif -%}
      <div class="text-12" id="title-{{ section_id }}-{{ card_product.id }}">
        <a
          class="after:absolute after:inset-0 after:z-10"
          href="{{ card_product.url }}"
          id="CardLink-{{ section_id }}-{{ card_product.id }}"
          aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"
          @mouseover="isMobile === true ? showImage = true : showImage = false"
          @mouseleave="showImage = true"
        >
          <span {% unless giftcard %}x-show="showImage"{% endunless %}>{{ card_product.title | escape }}</span>
          {% unless giftcard %}
              <span class="flex gap-0.5" x-show="!showImage">
              {% assign size_count = card_product.variants.size %}
              {% if  size_count > 1  %}
                <span>Sizes:</span>
              {% else  %}
                <span>Size:</span>
              {% endif %}
              {% for sizes in card_product.variants %}
                <span class="{% unless sizes.available %}line-through text-slate{% endunless %}">{{ sizes.option3 }}</span>
              {% endfor %} 
            </span>
          {% endunless %}
        </a>
      </div>
      {% comment %} 
        {% for variant in card_product.variants %}
          {% if variant.option2 %}
            <div class="text-12">
              {{ variant.option2 }}
            </div>
            {%- break -%}            
          {% endif %}
        {% endfor %}
      {% endcomment %}
      <span>{% render 'price', product: card_product, price_class: 'text-12' %}</span>
      {%- if card_product.available == false -%}
        <span id="Badge-{{ section_id }}-{{ card_product.id }}" class="text-slate text-12 uppercase">
          {{- 'products.product.sold_out' | t -}}
        </span>
      {%- elsif card_product.metafields.custom.preorder -%}
        <span id="Badge-{{ section_id }}-{{ card_product.id }}" class="text-slate text-12 uppercase">
          {{ 'products.product.pre_order' | t }}
        </span>
      {%- endif -%}  
    </div>
  </div>
</div>