<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %} h-full">    
  <div id="CartDrawer" class="cart-drawer h-full">
    <div
      class="drawer__inner flex flex-col h-full"
      role="dialog"
      aria-modal="true"
      aria-label="Bag Preview — {{ 'sections.header.cart_count' | t: count: cart.item_count }}"
      tabindex="-1"
    >
      <div class="h2 absolute top-3 md:top-4 left-2 md:left-5">Bag Preview — {{ 'sections.header.cart_count' | t: count: cart.item_count }}</div>
      <div class="drawer_header bg-sand">
        <button class="close tabfocus" @click="drawerTab='', showDrawer = false" aria-label="{{ 'accessibility.close' | t }}" tabindex="0">
          <span class="p-1">
            <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Close</title>{% render 'icons' with 'icon-close-bold' %}</svg>
          </span>
        </button>
      </div>
      <div class="grow overflow-auto">
        {%- if cart == empty -%}
          <div class="drawer__inner-empty mx-2 md:mx-5">
            <p class="cart__empty-text">{{ 'sections.cart.empty' | t }}</p>
            {%- if shop.customer_accounts_enabled and customer == null -%}
              <p class="mt-5">{{ 'sections.cart.login.minibag_copy' | t }}</p>
              <div class="flex gap-1 mt-3">
                <button class="primary" @click="drawerTab='account'">
                  {{ 'customer.login_page.sign_in' | t }}
                </button>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}    

        <cart-drawer-items {% if cart == empty %}class="is-empty"{% endif %}>
          <form
            action="{{ routes.cart_url }}"
            id="CartDrawer-Form"
            class="cart__contents cart-drawer__form mx-2 md:mx-5"
            method="post"
          >
            <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
              {%- if cart != empty -%}
                <div class="drawer__cart-items-wrapper">
                  <div class="cart-items" role="table">
                    <div role="rowgroup">
                      {%- for item in cart.items -%}
                        <div id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart-item flex w-full gap-1 pb-1" role="row">
                          <div class="cart-item__media flex-none w-15" role="cell" headers="CartDrawer-ColumnProductImage">
                            {% assign product = item.product %}
                            {% if product.images[1] %}  
                              {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                              <a href="{{ item.url }}" tabindex="-1" aria-hidden="true">
                                <img
                                  src="{{ product.images[1] | image_url: width: 300 }}"
                                  alt="{{ product.images[1].alt | escape }}"
                                  loading="lazy"
                                  width="150"
                                  height="{{ 150 | divided_by: product.images[1].aspect_ratio | ceil }}"
                                >
                              </a>
                            {% endif %}
                          </div>

                          <div class="text-12 grow" role="cell" headers="CartDrawer-ColumnProduct">
                            <div class="flex gap-2">
                              <div class="grow">
                                {%- if settings.show_vendor -%}
                                  <p>{{ item.product.vendor }}</p>
                                {%- endif -%}
                                <a href="{{ item.url }}" class="cart-item__name text-link">{{- item.product.title | escape -}}</a>
                                <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                                  {%- for discount in item.discounts -%}
                                    <li class="discounts__discount text-slate flex gap-0.5 items-center">
                                      <svg class="icon-tag fill-slate/60 !h-[0.9rem] !w-[0.9rem]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Bag</title>{% render 'icons' with 'icon-tag' %}</svg>
                                      <span>{{ discount.title }} {% if discount.total_amount > 0 %}(-{{ discount.total_amount | money }}){% endif %}</span>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>

                              <div role="cell" headers="CartDrawer-ColumnTotal">
                                <div class="loading-overlay hide"></div>
                                <div class="cart-item__price-wrapper">
                                  {%-  liquid
                                    if item.variant.compare_at_price
                                      assign original_price = item.variant.compare_at_price
                                      else 
                                      assign original_price = item.original_line_price
                                    endif
                                  -%}
                                  {%- if original_price != item.final_line_price -%}
                                    <div class="cart-item__discounted-prices flex gap-0.5">
                                      <span class="visually_hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                      <span class="cart-item__old-price price price--end"><span class="line-through">{{ original_price | times: item.quantity | money }}</span></span>
                                      <span class="visually_hidden">{{ 'products.product.price.sale_price' | t }}</span>
                                      <span class="price price--end text-clay">{{ item.final_line_price | money }}</span>
                                    </div>
                                  {%- else -%}
                                    <span class="price price--end">{{ item.original_line_price | money }}</span>
                                  {%- endif -%}
    
                                  {%- if item.variant.available and item.unit_price_measurement -%}
                                    <div class="unit-price caption">
                                      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                      {{ item.variant.unit_price | money }}
                                      <span aria-hidden="true">/</span>
                                      <span class="visually-hidden"
                                        >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                      >
                                      {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                        {{- item.variant.unit_price_measurement.reference_value -}}
                                      {%- endif -%}
                                      {{ item.variant.unit_price_measurement.reference_unit }}
                                    </div>
                                  {%- endif -%}
                                </div>
                              </div>
                            </div>


                            {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != null -%}
                              
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <div>
                                    {%- if option.name != 'Gender' -%}
                                      {{ option.name }}: {{ option.value -}}
                                    {%- endif -%}
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}

                              <div>
                                {%- for property in item.properties -%}
                                  {%- assign property_first_char = property.first | slice: 0 -%}
                                  {%- if property.last != blank and property_first_char != '_' -%}
                                    <div class="product-option flex gap-0.5">
                                      {{ property.first }}:&nbsp;
                                      {%- if property.last contains '/uploads/' -%}
                                        <a href="{{ property.last }}" class="link" target="_blank" aria-describedby="a11y-new-window-message">
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </div>
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                              {%- if item.selling_plan_allocation.selling_plan.name -%}
                                <div class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</div>
                              {%- endif -%}
                              {%- if item.product.metafields.custom.preorder -%}
                                <div class="justify-self-start py-0.5 px-2 mt-1 text-white bg-moss">{{- 'products.product.inventory_out_of_stock_continue_selling' | t -}}{{ item.product.metafields.custom.preorder }}</div>
                              {%- endif -%}
                            {%- endif -%}

                            <div class="cart-item__quantity mt-2" role="cell" headers="CartDrawer-ColumnQuantity">
                              <div class="cart-item__quantity-wrapper flex gap-1">
                                <quantity-input class="quantity cart-quantity flex bg-white/60 rounded">
                                  <button class="quantity__button no-js-hidden p-1" name="minus" type="button" aria-label="minus">
                                    <span class="visually_hidden">{{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}</span>
                                    <svg class="icon-minus pointer-events-none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 16 16"><title>Quantity decrease</title>{% render 'icons' with 'icon-minus-regular' %}</svg>
                                  </button>
                                  <input
                                    class="quantity__input w-5 text-center bg-transparent"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >
                                  <button class="quantity__button no-js-hidden p-1" name="plus" type="button" aria-label="plus">
                                    <span class="visually_hidden">{{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}</span>
                                    <svg class="icon-plus pointer-events-none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 16 16"><title>Quantity increase</title>{% render 'icons' with 'icon-plus-regular' %}</svg>                                  
                                  </button>
                                </quantity-input>

                                <div class="loading-overlay hide"></div>
                                <cart-remove-button
                                  id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                >
                                  <button
                                    type="button"
                                    class="button button--tertiary p-1"
                                    aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                                  >
                                    <svg class="icon-bin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Remove product</title>{% render 'icons' with 'icon-bin' %}</svg>
                                  </button>
                                </cart-remove-button>
                              </div>
  
                              <div id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}" class="cart-item__error pt-1" role="alert">
                                <div class="cart-item__error-text text-12 text-clay"></div>
                              </div>
                            </div>
                          </div>

                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
                </div>
              {%- endif -%}
              <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
              <p id="CartDrawer-LineItemStatus" class="visually_hidden" aria-hidden="true" role="status">
                {{ 'accessibility.loading' | t }}
              </p>
            </div>
            <div id="CartDrawer-CartErrors" role="alert"></div>
          </form>

          {%- render 'cart-upsales' -%}

        </cart-drawer-items>
      </div>
      <div class="drawer_footer">
        <div class="cart_cta">
          <!-- Subtotals -->
          {%- liquid 
            assign total_cart_value = cart.original_total_price | divided_by: 100
            assign free_delivery_threshold = shop.metaobjects.markets[cart.currency.iso_code].value 
            assign total_price_formatted = cart.original_total_price | divided_by: 100
            if total_price_formatted >= free_delivery_threshold
              assign delivery_value = "Free"
              assign total_price = cart.total_price
            else
              assign delivery_value = shop.metaobjects.markets[cart.currency.iso_code].cost | money 
              assign total_price = cart.total_price | plus: shop.metaobjects.markets[cart.currency.iso_code].cost
            endif
          -%}
          <div class="cart-drawer__footer flex flex-col gap-0.5 pb-2 text-12" {{ block.shopify_attributes }}>
            <div class="totals flex" role="status">
              <div class="totals__subtotal grow">{{ 'sections.cart.subtotal' | t }}</div>
              <div class="totals__subtotal-value">{{ cart.items_subtotal_price | money }}</div>
            </div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--end flex gap-0.5">
                    <div class="grow flex gap-0.5 items-center text-slate">
                      <svg class="icon-tag fill-slate/60 !h-[0.9rem] !w-[0.9rem]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Bag</title>{% render 'icons' with 'icon-tag' %}</svg>
                      <span>{{ discount.title }}</span>
                    </div>
                    <div class="text-clay">-{{ discount.total_allocated_amount | money }}</div>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
            <div class="delivery flex gap-1">
              <div class="grow">{% if cart.currency.symbol == '£' %}
                                  {{ 'sections.cart.headings.delivery_html' | t }} {% if total_cart_value <= free_delivery_threshold %}<span class="font-normal">(Free over {{ cart.currency.symbol }}{{ free_delivery_threshold }})</span>{% endif %}
                                {% elsif cart.currency.symbol == '€' %}
                                  {{ 'sections.cart.headings.eu_delivery_html' | t }}
                                {% else %}
                                  {{ 'sections.cart.headings.ww_delivery_html' | t }}
                                {% endif %}</div>
              <div class="text-right">{{ delivery_value }}</div>
            </div>
            <div class="totals flex font-bold" role="status">
              <div class="totals__subtotal grow">{{ 'sections.cart.total' | t }}</div>
              <div class="totals__subtotal-value">{{ total_price | money }}</div>
            </div>
          </div>

          <!-- CTAs -->
          <div class="flex gap-1" {{ block.shopify_attributes }}>
            <a
              href="{{ routes.cart_url }}"
              id="cart-notification-button"
              class="secondary flex-1"
            >{{ 'general.cart.view_empty_cart' | t }}</a>
            
            <noscript>
              <button type="submit" class="primary cart__update-button button button--secondary" form="CartDrawer-Form">
                {{ 'sections.cart.update' | t }}
              </button>
            </noscript>

            <button
              type="submit"
              id="CartDrawer-Checkout"
              class="primary flex-1"
              name="checkout"
              form="CartDrawer-Form"
              {% if cart == empty %}
                disabled
              {% endif %}
            >
              {{ 'sections.cart.checkout' | t }}
            </button>
          </div>
        </div>
        <div class="pt-2">
          {%- render 'payment-list' -%}
        </div>

      </div>
      
      

    </div>
  </div>
</cart-drawer>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>