{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

{%- for filter in results.filters -%}
  {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
{%- endfor -%} 

<div id="facets-container" class="facets-container px-1 col-span-full col-start-1 mb-4 md:mb-6 flex justify-between" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">

  <div id="ProductCount" class="text-12">
      {%- if search_text -%}
        {{ search_text }}
      {%- else -%}
        {%- if results.results_count -%}
          {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
        {%- else -%}
          {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
        {%- endif -%}
      {%- endif -%}
  </div>

  <button id="facet-inline" x-ref="facetInline" class="mobile-facets__open text-link text-12 cursor-pointer group-hover:border-black" @click="showFacets=true, showFilters=true" @keydown.enter="showFacets=true, showFilters=true"  tabindex="0">
    <div class="flex gap-0.5">
      <span>
      {{ 'products.facets.filter_and_sort' | t }}
      {% if total_active_values != 0 %}
        {{ 'products.facets.active' | t: count: total_active_values }}
      {% endif %}
      </span>
      <svg class="icon-filter my-auto inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Filter</title>{% render 'icons' with 'icon-filter' %}</svg>
    </div>
  </button>  

  <div class="drawer_container fixed inset-0 bg-blend-luminosity backdrop-filter backdrop-blur bg-black/30 z-[999]" 
    x-show="showFilters" 
    x-transition:enter="transition duration-640 ease-sysum"
    x-transition:enter-start="backdrop-opacity-0 bg-transparent"
    x-transition:enter-end="backdrop-opacity-100 bg-black/30"
    x-transition:leave="transition delay-320 duration-640 ease-sysum"
    x-transition:leave-start="backdrop-opacity-100 bg-black/30"
    x-transition:leave-end="backdrop-opacity-0 bg-transparent"
  >
    <div class="drawer absolute h-full w-full sm:w-[480px] md:w-[600px] bg-sand top-0 right-0 z-[1000] overflow-hidden" 
      x-show="showFilters" 
      @click.outside="showFacets=false, showFilters=false" 
      x-transition:enter="transition duration-480 md:duration-320 ease-sysum"
      x-transition:enter-start="translate-x-full"
      x-transition:enter-end="translate-x-0"
      x-transition:leave="transition delay-160 duration-480 md:duration-320 ease-sysum"
      x-transition:leave-start="translate-x-0"
      x-transition:leave-end="translate-x-full"
    >
      <div class="drawer_tab" 
        x-show="showFacets" 
        x-trap="showFacets" 
        x-transition:enter="transition delay-400 md:delay-320 duration-320 ease-sysum"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-1"
        x-transition:leave="transition duration-160 ease-sysum"
        x-transition:leave-start="opacity-1"
        x-transition:leave-end="opacity-0"
      >
        
        <div class="drawer_header bg-sand">
          <div class="h2 absolute top-3 md:top-4 left-2 md:left-5">{{ 'products.facets.filter_button' | t }}</div>
          <button class="close tabfocus" @click="showFacets=false, showFilters=false" aria-label="{{ 'accessibility.close' | t }}">
            <span class="p-1">
              <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Close</title>{% render 'icons' with 'icon-close-bold' %}</svg>
            </span>
          </button>
        </div>

        <section class="grow overflow-auto">  
          <menu-drawer> 
            <facet-filters-form>
              <form id="FacetFiltersFormMobile" class="mobile-facets mx-2 md:mx-5 mb-7">

                {%- if results.terms -%}
                  <input type="hidden" name="q" value="{{ results.terms | escape }}">
                  <input name="options[prefix]" type="hidden" value="last">
                {%- endif -%}

                <div class="mb-4">
                  <span class="text-label inline-block">Sort by</span>
                  <ul class="flex md:gap-0.5 text-center bg-white p-0.5 rounded" role="list">
                    {%- if search_text -%}
                      <li class="flex-1">
                        <label for="relevance">
                          <input type="radio" name="sort_by" id="relevance" value="relevance" {% if 'relevance' == sort_by %}checked{% endif %} class="mobile-facets__checkbox hidden peer group/check">
                          <div class="radio" tabindex="0" role="radio">
                            <span class="inline-block">Relevance</span>
                          </div>
                          <span class="visually_hidden">Relevance</span>
                        </label>
                      </li>
                    {%- else -%}
                      <li class="flex-1">
                        <label for="manual">
                          <input type="radio" name="sort_by" id="manual" value="manual" {% if 'manual' == sort_by %}checked{% endif %} class="mobile-facets__checkbox hidden peer group/check">
                          <div class="radio" tabindex="0" role="radio">
                            <span class="inline-block">Featured</span>
                          </div>
                          <span class="visually_hidden">Featured</span>
                        </label>
                      </li>
                      <li class="flex-1">
                        <label for="created-descending">
                          <input type="radio" name="sort_by" id="created-descending" value="created-descending" {% if 'created-descending' == sort_by %}checked{% endif %} class="mobile-facets__checkbox hidden peer group/check">
                          <div class="radio" tabindex="0" role="radio">
                            <span class="inline-block">Latest</span>
                          </div>
                          <span class="visually_hidden">Latest</span>
                        </label>
                      </li>
                    {%- endif -%}
                    <li class="flex-1">
                      <label for="price-ascending">
                        <input type="radio" name="sort_by" id="price-ascending" value="price-ascending" {% if 'price-ascending' == sort_by %}checked{% endif %} class="mobile-facets__checkbox hidden peer group/check">
                        <div class="radio" tabindex="0" role="radio">
                          <span class="inline-block">Price<svg class="icon-arrow-regular rotate-[270deg] inline-block pl-[2px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Low to High</title>{% render 'icons' with 'icon-arrow-regular' %}</svg></span>
                        </div>
                        <span class="visually_hidden">Price, Low to High</span>
                      </label>
                    </li>
                    <li class="flex-1">
                      <label for="price-descending">
                        <input type="radio" name="sort_by" id="price-descending" value="price-descending" {% if 'price-descending' == sort_by %}checked{% endif %} class="mobile-facets__checkbox hidden peer group/check">
                        <div class="radio" tabindex="0" role="radio">
                          <span class="inline-block">Price<svg class="icon-arrow-regular rotate-90 inline-block pr-[2px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>High to Low</title>{% render 'icons' with 'icon-arrow-regular' %}</svg></span>
                        </div>
                        <span class="visually_hidden">Price, High to Low</span>
                      </label>
                    </li>
                  </ul>
                </div>

                {%- for filter in results.filters -%}
                  {% case filter.type %}
                    {% when 'boolean', 'list' %}
                    {% if filter.values.size > 1 %}
                      <div
                        id="Details-Mobile-{{ forloop.index }}-{{ section.id }}"
                        class="js-filter mb-4"
                        data-index="mobile-{{ forloop.index }}"
                      >
                        <div id="Facet-{{ forloop.index }}-{{ section.id }}" >
                          <span class="text-label inline-block">{% if filter.label == 'Product type' %}Category{% else %}{{ filter.label | escape }}{% endif %}</span>
                          <ul class="grid {% if filter.label == 'Size' %}grid-cols-3{% else %}grid-cols-2{% endif %} gap-y-1 gap-x-1 text-center" role="list">
                            {%- for value in filter.values -%}
                              <li>
                                <label for="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}">
                                  <input
                                    class="mobile-facets__checkbox hidden peer group/check"
                                    type="checkbox"
                                    name="{{ value.param_name }}" {% comment %}filter.label{% endcomment %}
                                    value="{{ value.value }}"
                                    id="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                                    {% if value.active %}
                                      checked
                                    {% endif %}
                                    {% if value.count == 0 and value.active == false %}
                                      disabled
                                    {% endif %}
                                  >
                                    {% if filter.label == 'Colour' %}
                                      <div class="selector flex gap-2 items-center pr-6 pl-2" tabindex="0" role="checkbox">
                                        <!-- load colour for dynamic filters -->
                                        <div class="selector-colour h-2 w-2 rounded bg-{{ value.label | downcase }}"></div>
                                        <div class="grow text-center">
                                          <span class="inline-block">{{ value.label | escape }}</span>
                                        </div>
                                      </div>
                                    {% elsif filter.label == 'Conditions'  %}
                                      <div class="selector flex gap-2 items-center pr-6 pl-2" tabindex="0" role="checkbox">
                                        {% liquid 
                                          assign icon = value.label | downcase
                                          assign icon_class = 'info-' | append: icon 
                                        %}
                                        <svg class="icon-{{ icon }} fill-slate h-2 w-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>{{ icon }}</title>{% render 'icons' with icon_class %}</svg>
                                        <div class="grow text-center">
                                          <span class="inline-block">{{ value.label | escape }}</span>
                                        </div>
                                      </div>
                                    {% else %}
                                      <div class="selector" tabindex="0" role="checkbox">
                                        <span class="inline-block">{{ value.label | escape }}</span>
                                      </div>
                                    {% endif %}
                                  <span class="visually_hidden">{{ value.label | escape }} ({%- if value.count == '1' -%}{{- 'products.facets.product_count_simple.one' | t: count: value.count -}}{%- else -%}{{- 'products.facets.product_count_simple.other' | t: count: value.count -}}{%- endif -%})</span>
                                </label>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    {% endif %}
                  {% endcase %}
                {%- endfor -%}
 
                {% if results.current_vendor or results.current_type %}
                  <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
                {% endif %}

                {%- if results.terms -%}
                  <input type="hidden" name="q" value="{{ results.terms | escape }}">
                  <input name="options[prefix]" type="hidden" value="last">
                {%- endif -%}

              </form>
            </facet-filters-form>
          </menu-drawer>
        </section>
        
        <div id="FacetButtonUpdate" class="drawer_footer grid grid-cols-6 gap-1">
          <facet-remove class="{% if total_active_values == 0 %}!hidden{% endif %} col-span-2">
            <a href="{{ results_url }}" class="primary_s w-full px-0">
              {{- 'products.facets.clear' | t -}}
                {% if total_active_values != 0 %}
                  {{ 'products.facets.active' | t: count: total_active_values }}
                {% endif %}
            </a>
          </facet-remove>
          <button
            type="button"
            class="primary col-start-3 col-span-4 {% if total_active_values == 0 %}!hidden{% endif %}"
            @click="scrollToTop(), setFilterButtonPosition()"
          >
            {{ 'products.facets.apply' | t }} 
            <span id="ProductCountButton">
              {%- if search_text -%}
                {{ 'products.facets.product_count_simple' | t: count: results.results_count }}
              {%- else -%}
                {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
              {%- endif -%}
            </span>
          </button>
          <noscript><button class="primary">{{ 'products.facets.apply' | t }}</button></noscript>
          <button class="primary col-span-full {% if total_active_values != 0 %}!hidden{% endif %}" @click="showFacets=false, showFilters=false, setFilterButtonPosition()">{{ 'products.facets.close' | t }}</button> 
        </div>

      </div>
    </div>
  </div>

</div>