{% comment %}
  Renders icon with text block

  Accepts:
  - block: {Object} passes in the block information.

  Usage:
  {% render 'icon-with-text', block: block %}
{% endcomment %}


{% if template == 'product.gift-card' %}
  <div class="flex gap-1 mt-2">
    {%- if block.settings.icon -%}
      {% capture icon_class %}info-{{ block.settings.icon }}{% endcapture %}
      <svg class="info-{{ block.settings.icon }} h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>{{ block.settings.icon | upcase }}</title>{% render 'icons' with icon_class %}</svg>
    {%- endif -%}
    <div class="text-12 self-center">
        {{ block.settings.gift-card }}
    </div>
  </div>
{% else %}
  <button class="group flex gap-1 mt-2"
    {% if cart.currency.iso_code == 'GBP' %}
      @click="showInfo = 'uk', $dispatch('lock-screen', true)"
    {% else %}
      @click="showInfo = 'worldwide', $dispatch('lock-screen', true)"
    {% endif %}
  >
    {%- if block.settings.icon -%}
      {% capture icon_class %}info-{{ block.settings.icon }}{% endcapture %}
      <svg class="info-{{ block.settings.icon }} h-3 fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>{{ block.settings.icon | upcase }}</title>{% render 'icons' with icon_class %}</svg>
    {%- endif -%}
    <div class="text-link text-12 group-hover:border-black self-center">
      {% if template == 'product.gift-card' %}
        {{ block.settings.gift-card }}
      {% elsif cart.currency.iso_code == 'GBP' %}
        {{ block.settings.uk }} 
      {% elsif cart.currency.iso_code == 'EUR' %}
        {{ block.settings.europe }} 
      {% else %}
        {{ block.settings.worldwide }} 
      {% endif %}
    </div>
  </button>
{% endif %}