{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{%- if paginate.parts.size > 0 -%}
  <div class="pagination-wrapper pb-8 md:pb-10 text-center" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
    <nav class="pagination inline-block" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      <ul class="bg-white rounded flex" role="list">
          <li>
            <button class="p-1 group" onclick="window.location.href='{{ paginate.previous.url }}{{ anchor }}';" aria-label="{{ 'general.pagination.previous' | t }}" {%- if paginate.previous -%} {%- else -%} disabled {%- endif -%}>
              <svg class="icon-chevron-left transition-all duration-320 group-disabled:fill-pebble" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Previous Page</title>{% render 'icons' with 'icon-chevron-regular-left' %}</svg>
            </button>
          </li>
          <li class="text-center text-12 px-2 self-center">
            {{ paginate.current_page }} / {{ paginate.pages }}
          </li>
          <li>
            <button class="p-1 group" onclick="window.location.href='{{ paginate.next.url }}{{ anchor }}';" aria-label="{{ 'general.pagination.next' | t }}" {%- if paginate.next -%} {%- else -%} disabled {%- endif -%}>
              <svg class="icon-chevron-right transition-all duration-320 group-disabled:fill-pebble" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Next Page</title>{% render 'icons' with 'icon-chevron-regular-right' %}</svg>
            </button>
          </li>       
      </ul>
    </nav>
  </div>
{%- endif -%}
