{%- assign media_count = product.media.size -%}

<media-gallery class="carousel" role="region" aria-label="{{ 'products.product.media.gallery_viewer' | t }}">
  <slider-component 
    class="block w-full overflow-hidden relative"
    id="GalleryViewer-{{ section.id }}{{ id_append }}"
    x-data="slider({ slideCount: {{ media_count }}, deskScroll: false, hasPadding: false })" 
    x-ref="carouselView" 
    x-init="sliderInit()"
  >
    <a class="skip-to-content-link button visually_hidden" href="#ProductInfo-{{ section.id }}">{{ 'accessibility.skip_to_product_info' | t }}</a> 
    
    <div x-ref="carouselItem" class="absolute h-0 overflow-hidden w-CM6 md:w-full">&nbsp;</div>

    <ul class="flex md:flex-wrap transition-transform ease-linear transform-gpu" role="list" 
      x-ref="carousel"
      @touchstart="press" @touchmove="slide" @touchend="release" @touchcancel="leave" @mousedown.prevent="press" @mousemove="slide" @mouseup="release" @mouseleave="leave" @click="click"
    >
      {%- for media in product.media -%}
          <li
            id="Slide-{{ section.id }}-{{ media.id }}{{ id_append }}"
            class="cursor-zoom-in{% if forloop.index == 2 or forloop.index == 3 %} md:w-1/2 {% else %} md:w-full {% endif %}{% if forloop.index == 5 or forloop.index == 6 %} md:hidden {% endif %}"
            data-media-id="{{ section.id }}-{{ media.id }}"
            :key="{{ media.position }}"
            @click="zoomStart({{ forloop.index }})"
          >

            {% liquid
              assign lazy_load = false
              if forloop.index > 1
                 assign lazy_load = true
              endif 
            -%}
            {% render 'product-thumbnail',
              media: media,
              media_count: media_count,
              position: forloop.index,
              loop: section.settings.enable_video_looping,
              modal_id: section.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: lazy_load
            %}
          </li>
      {%- endfor -%}
    </ul>
    <div class="md:hidden absolute bottom-2 left-2 z-10 text-12">
      <span x-text="currentSlide+1"></span> / <span x-text="slideCount"></span>
    </div>
  </slider-component>
</media-gallery>