<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {{ 'Sysum-Medium.woff2' | asset_url | preload_tag: as: 'font', type: 'font/woff2' }}
    {{ 'Universal-Sans-Display-400.woff2' | asset_url | preload_tag: as: 'font', type: 'font/woff2' }}

    {{ 'app.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'app.js' | asset_url }}" defer="defer"></script>

  {% comment %} 
     <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '603319165622194');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=603319165622194&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Meta Pixel Code --> 
  {% endcomment %}

  </head>

  <body>
    <div 
      class="fixed inset-0 p-1 md:p-2 flex flex-col gap-1 font-unis tracking-wide" 
      x-data="{ drawer:'' }" 
      @keydown.escape.window="drawer=''"
      >
        <div class="bg-[url('https://cdn.shopify.com/s/files/1/0472/7511/4664/files/sysum-black-mountain-m.jpg?v=1734294993')] md:bg-[url('https://cdn.shopify.com/s/files/1/0472/7511/4664/files/sysum-black-mountain.jpg?v=1734294993')] grow flex flex-col items-center md:items-start justify-center bg-cover bg-center bg-no-repeat rounded-md px-5 md:px-[12%] overflow-hidden relative">
          <div class="w-full min-w-[279px] max-w-[320px]">
            <div class="w-full flex flex-col gap-3">
              <div>
                <svg class="h-2 inline-block fill-sand-wet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 14">
                  <title>SYSUM</title>
                  <path d="M0 9.25541H2.72295C2.78222 12.3076 6.78598 11.9784 6.61148 9.72295C6.41722 7.33255 0.467545 8.47836 0.312794 3.88852C0.233772 1.32361 2.41016 0 4.55033 0C6.6905 0 9.04139 1.37959 9.06115 4.2968H6.33819C6.2032 1.80762 2.8777 2.15663 3.03246 3.88852C3.22672 6.16369 9.17639 5.17263 9.33114 9.72295C9.42992 12.5216 7.09548 14 4.80056 14C2.50564 14 0.0395108 12.5216 0 9.25541Z"/>
                  <path d="M15.4356 8.78786L11.682 0.19426H14.405L16.7394 5.67639L19.031 0.19426H21.8495L16.1533 13.8057H13.3349L15.4356 8.78786Z"/>
                  <path d="M26.6204 9.25541C26.6797 12.3076 30.6834 11.9784 30.5089 9.72295C30.3147 7.33255 24.365 8.47836 24.2103 3.88852C24.1312 1.32032 26.3109 0 28.4478 0C30.5847 0 32.9389 1.37959 32.9586 4.2968H30.2357C30.1007 1.80762 26.7752 2.15663 26.9299 3.88852C27.1242 6.16369 33.0738 5.17263 33.2286 9.72295C33.3274 12.5216 30.9929 14 28.698 14C26.4031 14 23.9337 12.5216 23.8942 9.25541H26.6204Z"/>
                  <path d="M36.6595 9.35419V0.19426H39.4779V9.35089C39.4779 10.635 40.1002 11.4713 41.325 11.4713C42.5499 11.4713 43.1722 10.635 43.1722 9.35089V0.19426H45.9906V9.35089C45.9906 12.4229 43.8504 13.9967 41.325 13.9967C38.7996 13.9967 36.6595 12.4229 36.6595 9.35089V9.35419Z"/>
                  <path d="M52.4243 3.59878V13.8057H49.9943V0.19426H53.5931L56.4116 10.0522L59.23 0.19426H62.8288V13.8057H60.3989V3.59878L57.4816 13.8057H55.3415L52.4243 3.59878Z"/>
                </svg>
              </div>
              <div class="text-sand-wet text-14 leading-4">Wild Running Essentials  /  2025</div>
              {{ content_for_layout }}

            </div>
          </div>
          <div
          class="drawer absolute bg-sand top-1 right-1 bottom-1 left-1 md:left-1/2 z-[1000] overflow-hidden rounded-md origin-right"  
          x-show="drawer != ''"
          x-transition:enter="transition duration-480 md:duration-320 ease-sysum"
          x-transition:enter-start="scale-x-0"
          x-transition:enter-end="scale-x-100"
          x-transition:leave="transition delay-160 duration-480 md:duration-320 ease-sysum"
          x-transition:leave-start="scale-x-100"
          x-transition:leave-end="scale-x-0"
          >
            <div class="drawer_tab"
            x-show="drawer == 'login'"
            x-transition:enter="transition delay-400 md:delay-320 duration-320 ease-sysum"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-1"
            x-transition:leave="transition duration-160 ease-sysum"
            x-transition:leave-start="opacity-1"
            x-transition:leave-end="opacity-0"
            >
              <div class="drawer_header bg-sand">
                <button class="close tabfocus" @click="drawer = ''" aria-label="{{ 'accessibility.close' | t }}">
                  <span class="p-1">
                    <svg class="icon-close fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Close</title>
                      <g id="icon-close-bold">
                        <path d="M1.63603 3.05025L3.05024 1.63604L7.99999 6.58579L12.9497 1.63604L14.3639 3.05025L9.4142 8L14.3639 12.9497L12.9497 14.364L7.99999 9.41421L3.05024 14.364L1.63603 12.9497L6.58577 8L1.63603 3.05025Z"/>
                      </g>
                    </svg>
                  </span>
                </button>
              </div>
              <div class="mx-2 md:mx-5 mb-6" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
                <h2 class="mb-6" id="DialogHeading">
                  {{ 'general.password_page.login_form_heading' | t }}
                </h2>
                {%- form 'storefront_password', class: 'password-form' -%}
                  <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                    <input
                      type="password"
                      name="password"
                      id="Password"
                      class="field__input"
                      autocomplete="current-password"
                      {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="PasswordLoginForm-password-error"
                      {%- endif -%}
                      placeholder=" "
                    >
                    <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">
                      {{- 'general.password_page.login_form_password_placeholder' | t -}}
                    </label>
                    {%- if form.errors -%}
                      <div id="PasswordLoginForm-password-error" role="status">
                        <span class="visually_hidden">{{ 'accessibility.error' | t }}</span>
                        <span class="form__message">
                          {{ 'general.password_page.login_form_error' | t -}}
                        </span>
                      </div>
                    {%- endif -%}
                  </div>
                  <div class="my-3">
                    <button name="commit" class="primary password-button button button--outline">
                      {{ 'general.password_page.login_form_submit' | t }}
                    </button>
                  </div>
                {%- endform -%}
                <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
                </div>
            </div>
            <div class="drawer_tab"
            x-show="drawer == 'privacy'"
            x-transition:enter="transition delay-400 md:delay-320 duration-320 ease-sysum"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-1"
            x-transition:leave="transition duration-160 ease-sysum"
            x-transition:leave-start="opacity-1"
            x-transition:leave-end="opacity-0"
            >
              <div class="drawer_header bg-sand">
                <button class="close tabfocus" @click="drawer = ''" aria-label="{{ 'accessibility.close' | t }}">
                  <span class="p-1">
                    <svg class="icon-close fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Close</title>
                      <g id="icon-close-bold">
                        <path d="M1.63603 3.05025L3.05024 1.63604L7.99999 6.58579L12.9497 1.63604L14.3639 3.05025L9.4142 8L14.3639 12.9497L12.9497 14.364L7.99999 9.41421L3.05024 14.364L1.63603 12.9497L6.58577 8L1.63603 3.05025Z"/>
                      </g>
                    </svg>
                  </span>
                </button>
              </div>
              <section class="grow overflow-auto" x-show="drawer == 'privacy'" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
                <div class="grow overflow-auto">
                  <div class="mx-2 md:mx-5 mb-6">
                    <div class="flex flex-col gap-10 col-span-full md:col-start-4 md:col-span-7 mx-1 md:mx-0 md:pt-3 scrollfadein ease-sysum">
                      <h1>Privacy policy</h1>
                          
                      <div>
                        <p>Last updated 25th April, 2024</p>
                      </div>
                      <div>
                        <p>This Privacy Policy describes how Sysum Goods Ltd. (the "<strong>Site</strong>", "<strong>we</strong>", "<strong>us</strong>", or "<strong>our</strong>") collects, uses, and discloses your personal information when you visit, use our services, or make a purchase from sysumrunning.com (the "<strong>Site</strong>") or otherwise communicate with us (collectively, the "<strong>Services</strong>"). For purposes of this Privacy Policy, "<strong>you</strong>" and "<strong>your</strong>" means you as the user of the Services, whether you are a customer, website visitor, or another individual whose information we have collected pursuant to this Privacy Policy.</p>
                        <p>Please read this Privacy Policy carefully. By using and accessing any of the Services, you agree to the collection, use, and disclosure of your information as described in this Privacy Policy. If you do not agree to this Privacy Policy, please do not use or access any of the Services.</p>
                      </div>
                      <div>
                        <h2>Changes to This Privacy Policy</h2>
                        <p>We may update this Privacy Policy from time to time, including to reflect changes to our practices or for other operational, legal, or regulatory reasons. We will post the revised Privacy Policy on the Site, update the "Last updated" date and take any other steps required by applicable law.</p>
                      </div>
                      <div>
                        <h2>How We Collect and Use Your Personal Information</h2>
                        <p>To provide the Services, we collect and have collected over the past 12 months personal information about you from a variety of sources, as set out below. The information that we collect and use varies depending on how you interact with us.</p>
                        <p>In addition to the specific uses set out below, we may use information we collect about you to communicate with you, provide the Services, comply with any applicable legal obligations, enforce any applicable terms of service, and to protect or defend the Services, our rights, and the rights of our users or others.</p>
                        <h3>What Personal Information We Collect</h3>
                        <p>The types of personal information we obtain about you depends on how you interact with our Site and use our Services. When we use the term "personal information", we are referring to information that identifies, relates to, describes or can be associated with you. The following sections describe the categories and specific types of personal information we collect.</p>
                        <h3>Information We Collect Directly from You</h3>
                        <p>Information that you directly submit to us through our Services may include:</p>
                        <ul class="style-square">
                          <li><strong>Basic contact details</strong> including your name, address, phone number, email.</li>
                          <li><strong>Order information</strong> including your name, billing address, shipping address, payment confirmation, email address, phone number.</li>
                          <li><strong>Account information</strong> including your username, password, security questions.</li>
                          <li><strong>Shopping information</strong> including the items you view, put in your cart or add to your wishlist.</li>
                          <li><strong>Customer support information</strong> including the information you choose to include in communications with us, for example, when sending a message through the Services.</li>
                        </ul>
                        <p>Some features of the Services may require you to directly provide us with certain information about yourself. You may elect not to provide this information, but doing so may prevent you from using or accessing these features.</p>
                        <h3>Information We Collect through Cookies</h3>
                        <p>We also automatically collect certain information about your interaction with the Services ("<strong>Usage Data</strong>"). To do this, we may use cookies, pixels and similar technologies ("<strong>Cookies</strong>"). Usage Data may include information about how you access and use our Site and your account, including device information, browser information, information about your network connection, your IP address and other information regarding your interaction with the Services.</p>
                        <h3>Information We Obtain from Third Parties</h3>
                        <p>Finally, we may obtain information about you from third parties, including from vendors and service providers who may collect information on our behalf, such as:</p>
                        <ul class="style-square">
                          <li>Companies who support our Site and Services, such as Shopify.</li>
                          <li>Our payment processors, who collect payment information (e.g., bank account, credit or debit card information, billing address) to process your payment in order to fulfill your orders and provide you with products or services you have requested, in order to perform our contract with you.</li>
                          <li>When you visit our Site, open or click on emails we send you, or interact with our Services or advertisements, we, or third parties we work with, may automatically collect certain information using online tracking technologies such as pixels, web beacons, software developer kits, third-party libraries, and cookies.</li>
                        </ul>
                        <p>Any information we obtain from third parties will be treated in accordance with this Privacy Policy. We are not responsible or liable for the accuracy of the information provided to us by third parties and are not responsible for any third party's policies or practices. For more information, see the section below, <em>Third Party Websites and Links</em>.</p>
                        <h3>How We Use Your Personal Information</h3>
                        <ul class="style-square">
                          <li><strong>Providing Products and Services.</strong> We use your personal information to provide you with the Services in order to perform our contract with you, including to process your payments, fulfill your orders, to send notifications to you related to you account, purchases, returns, exchanges or other transactions, to create, maintain and otherwise manage your account, to arrange for shipping, facilitate any returns and exchanges and to enable you to post reviews.</li>
                          <li><strong>Marketing and Advertising.</strong> We use your personal information for marketing and promotional purposes, such as to send marketing, advertising and promotional communications by email, text message or postal mail, and to show you advertisements for products or services. This may include using your personal information to better tailor the Services and advertising on our Site and other websites.</li>
                          <li><strong>Security and Fraud Prevention.</strong> We use your personal information to detect, investigate or take action regarding possible fraudulent, illegal or malicious activity. If you choose to use the Services and register an account, you are responsible for keeping your account credentials safe. We highly recommend that you do not share your username, password, or other access details with anyone else. If you believe your account has been compromised, please <span class="email"></span> immediately.</li>
                          <li><strong>Communicating with you.</strong> We use your personal information to provide you with customer support and improve our Services. This is in our legitimate interests in order to be responsive to you, to provide effective services to you, and to maintain our business relationship with you.</li>
                        </ul>
                      </div>
                      <div>
                        <h2>Cookies</h2>
                        <p>Like many websites, we use Cookies on our Site. For specific information about the Cookies that we use related to powering our store with Shopify, see <a href="https://www.shopify.com/legal/cookies" target="_blank">https://www.shopify.com/legal/cookies</a>. We use Cookies to power and improve our Site and our Services (including to remember your actions and preferences), to run analytics and better understand user interaction with the Services (in our legitimate interests to administer, improve and optimize the Services). We may also permit third parties and services providers to use Cookies on our Site to better tailor the services, products and advertising on our Site and other websites.</p>
                        <p>Most browsers automatically accept Cookies by default, but you can choose to set your browser to remove or reject Cookies through your browser controls. Please keep in mind that removing or blocking Cookies can negatively impact your user experience and may cause some of the Services, including certain features and general functionality, to work incorrectly or no longer be available. Additionally, blocking Cookies may not completely prevent how we share information with third parties such as our advertising partners.</p>
                      </div>
                      <div>
                        <h2>How We Disclose Personal Information</h2>
                        <p>In certain circumstances, we may disclose your personal information to third parties for legitimate purposes subject to this Privacy Policy. Such circumstances may include:</p>
                        <ul class="style-square">
                        <li>With vendors or other third parties who perform services on our behalf (e.g., IT management, payment processing, data analytics, customer support, cloud storage, fulfillment and shipping).</li>
                        <li>With business and marketing partners, including Shopify, to provide services and advertise to you. For example, we use Shopify to support personalized advertising with third-party services. Our business and marketing partners will use your information in accordance with their own privacy notices.</li>
                        <li>When you direct, request us or otherwise consent to our disclosure of certain information to third parties, such as to ship you products or through your use of social media widgets or login integrations, with your consent.</li>
                        <li>With our affiliates or otherwise within our corporate group, in our legitimate interests to run a successful business.</li>
                        <li>In connection with a business transaction such as a merger or bankruptcy, to comply with any applicable legal obligations (including to respond to subpoenas, search warrants and similar requests), to enforce any applicable terms of service, and to protect or defend the Services, our rights, and the rights of our users or others.</li>
                        </ul>
                        <p>We have, in the past 12 months disclosed the following categories of personal information and sensitive personal information (denoted by *) about users for the purposes set out above in <em>"How we Collect and Use your Personal Information"</em> and <em>"How we Disclose Personal Information"</em>:</p>
                        <div class="flex fle-col md:flex-row gap-5">
                          <div class="flex-1">
                            <p>Category</p>
                            <ul class="style-square">
                              <li>Identifiers such as basic contact details and certain order and account information</li>
                              <li>Commercial information such as order information, shopping information and customer support information</li>
                              <li>Internet or other similar network activity, such as Usage Data</li>
                            </ul>
                          </div>
                          <div class="flex-1">
                            <p>Categories of Recipients</p>
                            <ul class="style-square">
                              <li>Vendors and third parties who perform services on our behalf (such as Internet service providers, payment processors, fulfillment partners, customer support partners and data analytics providers)</li>
                              <li>Business and marketing partners</li>
                              <li>Affiliates</li>
                            </ul>
                          </div>
                        </div>
                        <p>We do not use or disclose sensitive personal information for the purposes of inferring characteristics about you.</p>
                      </div>
                      
                      <div>
                        <h2>Third Party Websites and Links</h2>
                        <p>Our Site may provide links to websites or other online platforms operated by third parties. If you follow links to sites not affiliated or controlled by us, you should review their privacy and security policies and other terms and conditions. We do not guarantee and are not responsible for the privacy or security of such sites, including the accuracy, completeness, or reliability of information found on these sites. Information you provide on public or semi-public venues, including information you share on third-party social networking platforms may also be viewable by other users of the Services and/or users of those third-party platforms without limitation as to its use by us or by a third party. Our inclusion of such links does not, by itself, imply any endorsement of the content on such platforms or of their owners or operators, except as disclosed on the Services.</p>
                      </div>
                      <div>
                        <h2>Children's Data</h2>
                        <p>The Services are not intended to be used by children, and we do not knowingly collect any personal information about children. If you are the parent or guardian of a child who has provided us with their personal information, you may <span class="email"></span> to request that it be deleted.</p>
                        <p>As of the Effective Date of this Privacy Policy, we do not have actual knowledge that we “share” or “sell” (as those terms are defined in applicable law) personal information of individuals under 16 years of age.</p>
                      </div>
                      <div>
                        <h2>Security and Retention of Your Information</h2>
                        <p>Please be aware that no security measures are perfect or impenetrable, and we cannot guarantee “perfect security.” In addition, any information you send to us may not be secure while in transit. We recommend that you do not use unsecure channels to communicate sensitive or confidential information to us.</p>
                        <p>How long we retain your personal information depends on different factors, such as whether we need the information to maintain your account, to provide the Services, comply with legal obligations, resolve disputes or enforce other applicable contracts and policies.</p>
                      </div>
                      <div>
                        <h2>Your Rights and Choices</h2>
                        <p>Depending on where you live, you may have some or all of the rights listed below in relation to your personal information. However, these rights are not absolute, may apply only in certain circumstances and, in certain cases, we may decline your request as permitted by law.</p>
                        <ul class="style-square">
                          <li><strong>Right to Access / Know.</strong> You may have a right to request access to personal information that we hold about you, including details relating to the ways in which we use and share your information.</li>
                          <li><strong>Right to Delete.</strong> You may have a right to request that we delete personal information we maintain about you.</li>
                          <li><strong>Right to Correct.</strong> You may have a right to request that we correct inaccurate personal information we maintain about you.</li>
                          <li><strong>Right of Portability.</strong> You may have a right to receive a copy of the personal information we hold about you and to request that we transfer it to a third party, in certain circumstances and with certain exceptions.</li>
                          <li><strong>Restriction of Processing:</strong> You may have the right to ask us to stop or restrict our processing of personal information.</li>
                          <li><strong>Withdrawal of Consent:</strong> Where we rely on consent to process your personal information, you may have the right to withdraw this consent.</li>
                          <li><strong>Appeal:</strong> You may have a right to appeal our decision if we decline to process your request. You can do so by replying directly to our denial.</li>
                          <li><strong>Managing Communication Preferences:</strong> We may send you promotional emails, and you may opt out of receiving these at any time by using the unsubscribe option displayed in our emails to you. If you opt out, we may still send you non-promotional emails, such as those about your account or orders that you have made.</li>
                        </ul>
                        <p>You may exercise any of these rights where indicated on our Site or <span class="email"></span>.</p>
                        <p>We will not discriminate against you for exercising any of these rights. We may need to collect information from you to verify your identity, such as your email address or account information, before providing a substantive response to the request. In accordance with applicable laws, You may designate an authorized agent to make requests on your behalf to exercise your rights. Before accepting such a request from an agent, we will require that the agent provide proof you have authorized them to act on your behalf, and we may need you to verify your identity directly with us. We will respond to your request in a timely manner as required under applicable law.</p>
                        <p>We use Shopify's ad services such as Shopify Audiences to help personalize the advertising you see on third party websites. To restrict Shopify merchants that use these ad services from using your personal information for such services, visit <a href="https://privacy.shopify.com/en" target="_blank">https://privacy.shopify.com/en</a>.</p>
                      </div>
                      <div>
                        <h2>Complaints</h2>
                        <p>If you have complaints about how we process your personal information, please <span class="email"></span>. If you are not satisfied with our response to your complaint, depending on where you live you may have the right to appeal our decision by contacting us using the contact details set out below, or lodge your complaint with your local data protection authority.</p>
                      </div>
                      <div>
                        <h2>International Users</h2>
                        <p>Please note that we may transfer, store and process your personal information outside the country you live in, including the United States. Your personal information is also processed by staff and third party service providers and partners in these countries.</p>
                        <p>If we transfer your personal information out of Europe, we will rely on recognized transfer mechanisms like the European Commission's Standard Contractual Clauses, or any equivalent contracts issued by the relevant competent authority of the UK, as relevant, unless the data transfer is to a country that has been determined to provide an adequate level of protection.</p>
                      </div>
                      <div>
                        <h2>Contact</h2>
                        <p>If you have any questions about our privacy practices or this Privacy Policy, or if you would like to exercise any of the rights available to you, please <span class="email"></span>.</p> 
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            
              <section class="grow overflow-auto" x-show="drawer == 'cookie'" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
                <div class="grow overflow-auto">
                  <div class="mx-2 md:mx-5 mb-6">
                    <div class="flex flex-col gap-10 col-span-full md:col-start-4 md:col-span-7 mx-1 md:mx-0 md:pt-3 scrollfadein ease-sysum">
                      <h1>Cookie policy</h1>
                      <div>
                        <p>--content here--</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="grow-0 flex justify-between text-slate">
          <div class="text-12" @click="drawer = (drawer === 'login') ? '' : 'login'">&copy; {{ 'now' | date: "%Y" }} SYSUM</div>
          <div class="flex gap-2 text-12">
            <button class="text-link" @click="drawer = (drawer === 'privacy') ? '' : 'privacy'">Privacy policy</button>
            <button class="text-link hidden" @click="drawer = (drawer === 'cookie') ? '' : 'cookie'">Cookie policy</button>
          </div>
        </div>
        <div class="page-loader flex flex-col gap-3 fixed justify-center items-center inset-0 bg-sand z-[1000] transition-opacity duration-320 ease-sysum">
          <svg class="h-6 fill-slate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 30"><title>Sysum loading</title>
            <path class="animate-pulse" d="M20.1176 14.1536C19.0457 14.16 17.3662 14.9997 16.3139 14.7421C14.0267 16.8298 15.1091 15.2941 13.2877 14.5618C13.0728 15.8311 12.7574 15.3028 11.9474 14.8688C11.9387 15.1653 12.609 16.6407 12.4736 16.7867C12.4564 16.8039 12.2502 16.8984 12.0441 16.9908C11.359 12.0187 11.2558 7.59443 11.8036 3.38235C11.9691 3.2749 12.1494 3.12892 12.2719 2.99136C14.0116 2.607 14.7482 1.43403 14.6795 1.22574C14.613 1.02378 14.278 0.845591 13.4939 0.680346C13.1953 0.618041 12.9398 0.940404 12.8323 1.02619C12.91 0.761313 13.022 0.497042 12.2532 0.298087C11.5372 0.112676 10.4551 -0.0564817 10.0939 0.0103385C9.93199 0.0404377 9.94283 0.314942 9.99911 0.536472C9.90881 0.392598 9.9034 0.369422 9.68548 0.333905C9.6 0.320059 9.37937 0.294776 9.24723 0.343236C8.82615 0.500052 9.80768 1.99689 10.7937 2.74876C10.8624 2.90558 10.9828 3.09671 11.1053 3.25353C10.5252 9.29082 10.5511 11.2154 11.2148 16.5547C10.9527 15.8094 10.4307 14.1407 9.98406 13.7539C9.96058 14.3833 10.5553 15.4849 10.7037 16.5008C9.83808 15.165 8.73645 13.9062 7.30794 12.422C6.95127 12.0503 6.57563 8.26173 6.76255 7.37892C7.12554 7.2823 7.23089 6.74533 7.07829 6.35675C6.94525 6.13552 6.76255 6.04733 6.61867 5.96366C6.53921 5.91851 6.50911 5.84777 6.46818 5.84777C6.43176 5.84777 6.39293 5.9164 6.31136 5.96155C6.15033 6.04974 5.97184 6.16352 5.85385 6.42327C5.71419 6.80342 5.96973 7.31692 6.30052 7.38133C6.19728 8.91699 6.25748 10.4527 6.59911 11.9603C5.40718 11.0712 2.98449 9.29925 2.54414 9.0115C2.87072 8.36497 2.59983 7.90536 2.19409 7.66697C1.84193 7.45658 1.40158 7.39638 0.993434 7.68413C0.301754 7.89241 0.684315 8.69365 0.420044 8.66145C0.514555 9.06959 0.720735 9.29082 0.997948 9.42807C1.30737 9.58068 1.70678 9.61288 2.20493 9.43891C6.22136 12.2162 8.72561 14.5377 10.2098 16.9905C9.22616 16.6576 7.3254 16.0562 6.77549 16.0412C7.07196 16.3398 10.0379 17.3836 10.6803 17.8411C10.8049 18.0882 10.9253 18.3287 11.0712 18.6959C10.1499 18.5864 8.76444 18.1288 8.10738 17.2506C8.03213 18.391 8.31777 18.4061 8.15042 18.5286C6.76736 18.3976 5.92519 18.6444 3.9859 18.9472C4.82777 19.5808 6.1723 19.291 6.84261 19.8042C6.00284 20.2596 5.33494 20.4763 5.07699 20.9208C5.31538 20.7255 6.06485 21.1743 7.17551 20.9832C9.23309 20.6286 8.19346 19.7331 9.40706 21.6104C9.70986 21.3699 10.5195 20.9726 10.2577 20.2617C10.6357 20.1651 11.2542 20.4465 11.6666 20.6075C12.2295 22.8863 12.6803 26.0714 13.3934 29.9052C13.3934 29.9052 13.5933 29.9955 13.8208 29.9955C14.0484 29.9955 14.3599 29.8817 14.3599 29.8817C13.8702 27.1198 13.0861 23.1635 12.4847 19.7527C14.1191 17.5768 12.8348 18.9494 17.1754 19.6431C22.0445 19.8063 19.0505 19.7741 18.8164 18.0837L18.8227 18.0795C13.9686 17.9013 16.2561 17.5813 19.0653 16.198C18.7884 16.1679 19.6215 14.4239 20.1179 14.1533L20.1176 14.1536ZM11.3716 19.536C11.4424 19.7635 11.4791 19.8881 11.5456 20.1395C10.4608 19.8258 10.2956 19.9032 11.3716 19.536ZM12.3896 19.1901C12.321 18.7928 12.2671 18.4855 12.2072 18.112C13.4334 18.1915 13.0921 18.2902 12.3896 19.1901Z"/>
          </svg>
          <noscript><div class="text-14">This website requires JavaScript to work</div></noscript>
        </div>
      </div>
      
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-0F4PQE8QKK"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-0F4PQE8QKK');
      </script>

  </body>
</html>
