
<div class="grid_ my-20 md:my-30">
  <div class="col-start-1 col-span-full md:col-start-2 md:col-span-10 flex flex-col md:flex-row justify-between gap-y-4 mx-3 md:mx-0">
    {% for block in section.blocks %}  
      {% case block.type %}
        {% when 'link' %}  
        <a href="{{ block.settings.link }}" class="group block relative rounded md:w-CD3 bg-white/60 hover:bg-white transition-colors duration-320 ease-sysum overflow-hidden" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">
          <div class="overflow-hidden rounded">
            <picture>
              <source media="(max-width: 767px)" srcset="{{ block.settings.image_2 | image_url: width: 256 }} 256w, {{ block.settings.image_2 | image_url: width: 810 }} 810w" sizes="(min-width: 780px) calc(25vw - 22px), calc(100vw - 64px)">
              {{ block.settings.image | image_url: width: 2480 | image_tag: loading: 'lazy', widths: '256, 810, 1010, 1350', sizes: '(min-width: 780px) calc(25vw - 22px), calc(100vw - 64px)', class: 'group-hover:scale-[102%] transition-transform duration-[1920ms] ease-sysum' }}
            </picture>
          </div>
          <div class="p-[0.875rem] font-sysum tracking-normal text-16 text-center leading-4">
            {{ block.settings.text }}
          </div>
        </a>
      {% endcase %} 
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.feature-links.name",
  "tag": "section",
  "class": "section",
  "max_blocks": 3,
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.feature-links.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.feature-links.settings.image_2.label"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature links"
    }
  ]
}
{% endschema %}