<footer class="footer relative grid_ mt-10 mb-5 ">

  {%- unless request.path == '/account/subscribe' -%}
    {%- unless customer and customer.accepts_marketing -%}
      <div class="col-span-full mb-10 grid grid-cols-12 gap-1 md:items-center" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">      
        <picture class="block col-span-full row-span-1 row-start-1 h-full">
          <source media="(max-width: 767px)"srcset="{{ shop.metaobjects.image.sign-up-footer.mobile | image_url: width: 488 }} 488w, {{ shop.metaobjects.image.sign-up-footer.mobile | image_url: width: 767 }} 767w " sizes="(min-width: 780px) calc(100vw - 80px), calc(100vw - 16px)">
          {{ shop.metaobjects.image.sign-up-footer.desktop | image_url: width: 2480 | image_tag: widths: '700, 1380, 1820, 2180, 2480', sizes: '(min-width: 780px) calc(100vw - 80px), calc(100vw - 16px)', loading: 'lazy' }}
        </picture>

        <div class="col-span-full mx-3 md:mx-0 mt-5 md:mt-0 md:col-span-5 md:col-start-7 lg:col-span-4 lg:col-start-8 xl:col-span-3 xl:col-start-8 flex flex-col gap-2 row-span-1 row-start-1 z-1 text-sand-wet" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
          <div class="h1">{{ 'newsletter.header_html' | t }}</div>
          {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
            <input type="hidden" name="contact[tags]" value="newsletter footer">
            <div class="newsletter-form__field-wrapper">
              <div class="flex flex-row relative">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="flex-1 appearance-none inline-block w-full px-2 pt-[0.875rem] pb-[0.813rem] box-border rounded-none rounded-l bg-sand-wet/60 font-unis text-black text-16 focus:outline-none placeholder:text-black"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="ContactFooter-error"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="ContactFooter-success"
                  {% endif %}
                  placeholder="{{ 'newsletter.label' | t }}"
                  required
                  >
                <button 
                  type="submit"
                  class="flex-none self-stretch bg-sand-wet/60 px-3 text-16 text-black leading-[1.25rem] font-sysum whitespace-nowrap rounded-none rounded-r focus-visible:bg-sap" 
                  name="commit"
                  id="Subscribe"
                  aria-label="{{ 'newsletter.button_label' | t }}"
                  >
                  {{ 'newsletter.button_label' | t }}
                </button>
              </div>
              {%- if form.errors -%}
                <div 
                  class="flex flex-row pt-1" 
                  id="ContactFooter-error"
                >
                  <div class="pr-0.5">
                    <svg class="icon-close fill-clay" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Error</title>{% render 'icons' with 'icon-close-regular' %}</svg>
                  </div>
                  <div class="text-12 text-clay">
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </div>
                </div>
              {%- endif -%}
            </div>
            {%- if form.posted_successfully? -%}
              <div
                class="flex flex-row pt-1"
                id="ContactFooter-success"
                tabindex="-1"
                autofocus
              >
                <div class="pr-0.5">
                  <svg class="icon-tick fill-sand-wet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Error</title>{% render 'icons' with 'icon-tick-bold' %}</svg>
                </div>
                <div class="text-12 text-sand-wet">
                  {{- 'newsletter.success' | t }}
                </div>
              </div>		
            {%- endif -%}
          {% endform %}
          <p class="text-12 mb-0">{{ 'newsletter.copy_html' | t: link: '/pages/privacy-policy', target: '_blank' }}</p>
        </div>

      </div>
    {%- endunless -%}
  {%- endunless -%}

  <ul class="pl-1 flex gap-3 h-3 col-span-full md:col-span-6" role="list" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">
    {% render 'social-list' %}
  </ul>
  
  {{ section.settings.label }}
  <ul class="pl-1 md:pl-0 col-span-full md:col-start-7 md:col-span-2 mt-8 md:mt-0" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">
    {%- for link in section.settings.menu.links limit: 4 -%}
      <li>
        <a href="{{ link.url }}" class="inline text-link text-12 {% if link.active %}border-black{% endif %}">
          {{ link.title }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
  <ul class="pl-1 md:pl-0 col-span-full md:col-start-9 md:col-span-2  mt-4 md:mt-0" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">
    {%- for link in section.settings.menu.links limit: 4 offset: continue -%}
      <li>
        <a href="{{ link.url }}" class="inline text-link text-12 {% if link.active %}border-black{% endif %}">
          {{ link.title }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
  <ul class="pl-1 md:pl-0 col-span-full md:col-start-11 md:col-span-2  mt-4 md:mt-0" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">
    {%- for link in section.settings.menu.links limit: 4 offset: continue -%}
      <li>
        <a href="{{ link.url }}" class="inline text-link text-12 {% if link.active %}border-black{% endif %}">
          {{ link.title }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
  
  <hr class="border-none col-span-full h-8 md:h-20"/>

  <div class="col-span-full md:col-span-6" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">
    <a href="{{ routes.root_url }}" class="inline-block logo p-1">
      <svg class="h-2 fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74 14"><title>{{ shop.name }}</title>{% render 'icons' with 'logo-registered' %}</svg>
    </a>
  </div>

  <div class="pl-1 md:pl-0 md:py-0.5 col-span-full md:col-start-7 md:col-span-2 mt-8 md:mt-0 text-12 flex items-end gap-0.5" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">
    <span>Currency</span><span>:</span>
    {% form 'currency' %}
      <select class="select_fix appearance-none text-link text-12 w-full focus-visible:bg-sap mb-[-1px]" name="currency" aria-label="Select Currency" onchange="this.form.submit()">
        {% for currency in shop.enabled_currencies %}
          {% if currency == cart.currency %}
            <option value="{{ currency.iso_code }}" selected="true">{{ currency.symbol }} {{ currency.iso_code }}</option>
          {% else %}
            <option value="{{ currency.iso_code }}">{{ currency.symbol }} {{ currency.iso_code }}</option>
          {% endif %}
        {% endfor %}
      </select>
    {% endform %}
  </div>  

  <div class="pl-1 md:pl-0 md:py-0.5 col-span-full md:col-start-11 md:col-span-2 text-12 mt-4 md:mt-0 flex items-end gap-0.5" x-intersect="$el.classList.add('scrollin', 'ease-sysum')"><span>&copy; {{ 'now' | date: "%Y" }}</span><span>{{ 'SYSUM' | link_to: routes.root_url, class: "text-link text-12" }}</span></div>

</footer>


{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "Footer Links"
    }
  ]
}
{% endschema %}