<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>

<header id="header" class="menu sticky top-0 flex px-1 md:px-4 pt-2 md:pt-3 z-[100] bg-sand" x-intersect="$el.classList.add('fadein', 'ease-sysum')">
  <nav class="hidden md:block" aria-label="{{ 'sections.header.menu' | t }}">
    <ul class="flex text_menu">
      {%- for link in linklists.main-menu.links -%}
        <li>
          <a href="{{ link.url }}" {%- if link.levels != 0 -%}@click.prevent="showMenu = true, showNav = true, drawerTab='{{ link.title | escape }}'" @keydown.space="showMenu = true, showNav = true, drawerTab='{{ link.title | escape }}'"{% endif %}>
            <span class="group menu_link p-1">
              {% if link.title == "Sale" %}
                <span class="line-through-diagonal group-hover:line-through-diagonal-s">{{ link.title | escape }}</span>
              {% else %}
                {{ link.title | escape }}
              {% endif %}
            </span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
  <div class="md:ml-3 h-2 md:h-4">
    {%- if request.page_type == 'index' -%}
      <h1>
    {%- endif -%}
        <a href="{{ routes.root_url }}" class="p-1 block logo">
          <svg class="h-2 fill-black" id="sysumLogo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 14"><title>{{ shop.name }}</title>{% render 'icons' with 'logo-sysum' %}</svg>
        </a>
    {%- if request.page_type == 'index' -%}
      </h1>
    {%- endif -%}
  </div>
  <div class="grow"></div>
  <ul class="flex icon_menu">
    <li class="">
      <a href="" class="utility_link p-1 block" @click.prevent="showDrawer = true, drawerTab='search', $nextTick(() => $refs.search.focus())" @keydown.space="showDrawer = true, drawerTab='search', $nextTick(() => $refs.search.focus())" role="button" aria-haspopup="dialog">
        <svg class="icon-search fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Search</title>{% render 'icons' with 'icon-search' %}</svg>
      </a>
    </li>
    <li class="ml-1 hidden md:block">
      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="utility_link p-1 block" {% if customer == null and template.name != 'login' %} @click.prevent="showDrawer = true, drawerTab='account'" @keydown.space="showDrawer = true, drawerTab='account'" role="button" aria-haspopup="dialog"{% endif %}>
        <svg class="icon-account fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Account</title>{% render 'icons' with 'icon-account' %}</svg>
        {%- if customer.first_name != null -%}<div class="text-12 leading-6 text-center font-sysum font-bold uppercase">{{ customer.first_name | slice: 0 }}</div>{%- endif -%}
      </a>
    </li>
    <li class="ml-1">
      <a href="{{ routes.cart_url }}" class="utility_link p-1 block" id="cart-icon-bubble" {%- if template != 'cart' -%} @click.prevent="showDrawer = true, drawerTab='bag'" @keydown.space="showDrawer = true, drawerTab='bag'"{%-  endif -%} role="button" aria-haspopup="dialog">
        <svg class="icon-bag fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Bag</title>{% render 'icons' with 'icon-bag' %}</svg>
        <div class="text-12 leading-6 text-center font-sysum font-bold">{%- if cart == empty -%}0{%- elsif cart.item_count < 100 -%}{{ cart.item_count }}{%- endif -%}</div>
        <span class="visually_hidden">{{ 'templates.cart.cart' | t }}</span>
        <span class="visually_hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
      </a>
    </li>
    <li class="ml-1 block md:hidden">
      <button class="utility_link p-1 block cursor-pointer" @click.prevent="showMenu = true, showNav = true">
        <svg class="icon-burger fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Burger</title>{% render 'icons' with 'icon-burger' %}</svg>
      </button>
    </li>
  </ul>
</header>

<div
  class="drawer_container fixed inset-0 bg-blend-luminosity backdrop-filter backdrop-blur bg-black/30 z-[999]" 
  x-show="showMenu"
  x-transition:enter="transition duration-640 ease-sysum"
  x-transition:enter-start="backdrop-opacity-0 bg-transparent"
  x-transition:enter-end="backdrop-opacity-100 bg-black/30"
  x-transition:leave="transition delay-320 duration-640 ease-sysum"
  x-transition:leave-start="backdrop-opacity-100 bg-black/30"
  x-transition:leave-end="backdrop-opacity-0 bg-transparent"
  >
  <div
    class="drawer menu absolute flex flex-col text-white h-full w-full sm:w-[480px] md:w-CD7 bg-black top-0 left-0 z-[1000] overflow-hidden transition"  
    x-show="showMenu"
    x-trap="showMenu"
    @click.outside="drawerTab='', showMenu = false, showNav = false" 
    x-transition:enter="transition duration-480 md:duration-320 ease-sysum"
    x-transition:enter-start="-translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition delay-160 duration-480 md:duration-320 ease-sysum"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="-translate-x-full"
    >
    <div class="w-full px-2 md:px-4 pt-10 md:py-3 flex">
      <nav
        class="fixed md:relative left-0 px-3 md:px-0 w-full sm:w-[480px] md:w-auto"
        x-show="showNav"
        x-transition:enter="transition delay-400 md:delay-320 duration-320 ease-sysum"
        x-transition:enter-start="opacity-0 -translate-x-1 sm:translate-x-0"
        x-transition:enter-end="opacity-1 translate-x-0"
        x-transition:leave="transition duration-160 ease-sysum"
        x-transition:leave-start="opacity-1 translate-x-0"
        x-transition:leave-end="opacity-0 -translate-x-1 sm:translate-x-0"
        aria-label="{{ 'sections.header.menu' | t }}"
        >
        <ul class="flex flex-col md:flex-row gap-1 md:gap-0 text_menu">
          {%- for link in linklists.main-menu.links -%}
            <li>
              {%- if link.levels != 0 -%} 
                <button class="group menu_link p-1 text-24 md:text-16 md:leading-3 flex items-center w-full md:w-auto" :class="drawerTab == '{{ link.title | escape }}' ? 'text-pebble' : 'text-white'" @click.prevent="isMobile === false ? showNav = true : showNav = false, isMobile === false ? showBack = false : showBack = true, drawerTab='{{ link.title | escape }}'">
                  <span>
                  {% if link.title == "Sale" %}
                    <span class="line-through-diagonal group-hover:line-through-diagonal-p" :class="drawerTab == '{{ link.title | escape }}' ? 'line-through-diagonal-p' : 'line-through-diagonal-w'">{{ link.title | escape }}</span>
                  {% else %}
                    {{ link.title | escape }}
                  {% endif %}
                  </span>
                  <svg class="icon-chevron-right mb-0.5 fill-white inline-block ml-1 md:hidden transition duration-160" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Chevron right</title>{% render 'icons' with 'icon-chevron-bold-right' %}</svg>
                </button>
              {%- else -%}
                <a href="{{ link.url }}" class="group menu_link p-1 text-24 md:text-16 md:leading-3 flex items-center w-full md:w-auto" :class="drawerTab == '{{ link.title | escape }}' ? 'text-pebble' : 'text-white'">
                  <span>
                  {% if link.title == "Sale" %}
                    <span class="line-through-diagonal group-hover:line-through-diagonal-p" :class="drawerTab == '{{ link.title | escape }}' ? 'line-through-diagonal-p' : 'line-through-diagonal-w'">{{ link.title | escape }}</span>
                  {% else %}
                    {{ link.title | escape }}
                  {% endif %}
                  </span>
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </nav>
      <button 
        class="absolute top-2 left-2 p-1 cursor-pointer group tabfocus" 
        @click="showNav = true, drawerTab = '', showBack = false" 
        x-show="showBack == true"
        x-transition:enter="transition delay-320 duration-320 ease-sysum"
        x-transition:enter-start="opacity-0 -translate-x-1"
        x-transition:enter-end="opacity-1 translate-x-0"
        x-transition:leave="transition duration-160 ease-sysum"
        x-transition:leave-start="opacity-1 translate-x-0"
        x-transition:leave-end="opacity-0 -translate-x-1"
      >
          <svg class="icon-chevron-left fill-white transition duration-160 group-hover:fill-pebble" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Back</title>{% render 'icons' with 'icon-chevron-bold-left' %}</svg>
      </button>
    </div>

    <button class="close right-1 md:right-4 top-2 md:top-3 tabfocus" x-show="showNav == true || showBack == true" x-transition:enter.opacity.delay.320ms.duration.160ms x-transition:leave.opacity.duration.160ms @click="drawerTab='', showNav = false, showMenu = false, showBack = false" aria-label="{{ 'accessibility.close' | t }}" tabindex="0">
      <span class="p-1"><svg class="icon-close fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Close</title>{% render 'icons' with 'icon-close-bold' %}</svg></span>
    </button>
    
    {%- for cat in linklists.main-menu.links -%}
      {%- if cat.levels > 0 -%} 
        <div class="grow overflow-auto md:mt-5 md:absolute md:inset-y-6 md:inset-x-0"
          x-show="drawerTab == '{{ cat.title  }}'" 
          x-transition:enter="transition delay-320 duration-320 ease-sysum"
          x-transition:enter-start="opacity-0 -translate-x-1 md:translate-x-0"
          x-transition:enter-end="opacity-1 translate-x-0"
          x-transition:leave="transition duration-160 ease-sysum"
          x-transition:leave-start="opacity-1 translate-x-0"
          x-transition:leave-end="opacity-0 -translate-x-1 md:translate-x-0"
          >
          <section class="mx-3 md:mx-5 mb-6 relative flex flex-col gap-5 md:gap-3">
            {%- for subcat in cat.links -%}
              <div>
                <div class="h4 my-1">{{ subcat.title }}</div>
                <ul class="flex gap-1 md:gap-0 flex-col">
                  {%- for subsubcat in subcat.links -%}
                    {% assign gender_feature = cat.title | downcase | append: '_feature' %}
                    {% assign feature_image = subsubcat.object.metafields.custom[gender_feature].value %}
                    <li class="flex gap-3 items-center font-sysum text-20 relative md:static" x-data="{ catImage:false }">
                      {%- if feature_image -%}
                        <span :class="isMobile ? 'w-7' : 'absolute top-0 right-0 w-1/2'" x-show="catImage || isMobile">
                          {%- liquid
                            assign image_height = feature_image.width | divided_by: feature_image.aspect_ratio
                          -%}
                          {{ feature_image | image_url: width: 780 | image_tag: loading: 'eager', width: feature_image.width, height: image_height, sizes: '(min-width: 780px) calc(50vw - 44px), calc(100vw - 16px)', widths: '285, 750, 1024, 1236, 1460, 1630, 1780, 1920, 2048' }}
                        </span>
                      {%- endif -%}
                      <a href="{{ subsubcat.url }}" class="inline-block w-1/2 py-0.5 transition duration-160 hover:text-pebble {% if subsubcat.active %}text-pebble{% endif %} after:absolute after:inset-0 after:z-[1] md:relative grow" @mouseover="catImage = true" @mouseleave="catImage = false">
                        <span>{{ subsubcat.title | escape }}</span>
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endfor -%}
          </section>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <div 
      class="fixed bottom-0 mx-3 my-3 text-white"
      x-show="isMobile && showNav"
      x-transition:enter.opacity.delay.320ms.duration.320ms
      x-transition:leave.opacity.duration.160ms
      >
      <div class="flex flex-col justify-left gap-1 text-16">
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">Account{%- if customer.first_name != null -%}&nbsp;—&nbsp;{{ customer.first_name }}{%- endif -%}</a>
        {{ 'FAQs' | link_to: '/pages/faqs' }}
        {{ 'Contact' | link_to: '/pages/contact' }}
      </div>
    </div>
  </div>
</div>


<div
  class="drawer_container fixed inset-0 bg-blend-luminosity backdrop-filter backdrop-blur bg-black/30 z-[999]" 
  x-show="showDrawer"
  x-transition:enter="transition duration-640 ease-sysum"
  x-transition:enter-start="backdrop-opacity-0 bg-transparent"
  x-transition:enter-end="backdrop-opacity-100 bg-black/30"
  x-transition:leave="transition delay-320 duration-640 ease-sysum"
  x-transition:leave-start="backdrop-opacity-100 bg-black/30"
  x-transition:leave-end="backdrop-opacity-0 bg-transparent"
  >
  <div
    class="drawer absolute h-full w-full sm:w-[480px] md:w-[600px] bg-sand top-0 right-0 z-[1000] overflow-hidden"  
    x-show="showDrawer"
    x-trap="showDrawer"
    @click.outside="drawerTab='', showDrawer = false"
    x-transition:enter="transition duration-480 md:duration-320 ease-sysum"
    x-transition:enter-start="translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition delay-160 duration-480 md:duration-320 ease-sysum"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="translate-x-full"
    >
    <div class="drawer_tab"
      x-show="drawerTab == 'search'" 
      x-transition:enter="transition delay-400 md:delay-320 duration-320 ease-sysum"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-1"
      x-transition:leave="transition duration-160 ease-sysum"
      x-transition:leave-start="opacity-1"
      x-transition:leave-end="opacity-0"
      >
      
      <section class="h-full" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
        <div class="drawer_header bg-sand">
          <button class="close tabfocus" @click="drawerTab='', showDrawer = false" aria-label="{{ 'accessibility.close' | t }}">
            <span class="p-1">
              <svg class="icon-close fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Close</title>{% render 'icons' with 'icon-close-bold' %}</svg>
            </span>
          </button>
        </div>
        <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
          <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form flex flex-col h-full">
            <div class="field flex flex-row mb-0 px-2 md:px-5">
              <div class="flex relative grow">
                <input class="search__input field__input appearance-none"
                  id="Search-In-Modal"
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.search' | t }}"
                  role="combobox"
                  aria-expanded="false"
                  aria-owns="predictive-search-results"
                  aria-controls="predictive-search-results"
                  aria-haspopup="listbox"
                  aria-autocomplete="list"
                  autocorrect="off"
                  autocomplete="off"
                  autocapitalize="off"
                  spellcheck="false"
                  x-ref="search"
                >
                <label class="field__label" for="Search-In-Modal" hidden>{{ 'general.search.search' | t }}</label>
                <input type="hidden" name="options[prefix]" value="last">
                <button type="reset" class="reset__button field__button{% if search.terms == blank %} hidden{% endif %} bg-white w-4" aria-label="{{ 'general.search.reset' | t }} tabfocus" x-transition:opacity.duration.160ms>
                  <div class="close top-[12px]">
                    <span class="p-1">
                      <svg class="icon-close !fill-slate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Clear</title>{% render 'icons' with 'icon-close-regular' %}</svg>
                    </span>
                  </div>
                </button>
              </div>
              <button class="search__button field__button bg-white px-3 group" aria-label="{{ 'general.search.search' | t }}">
                <svg class="icon-search fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Search</title>{% render 'icons' with 'icon-search' %}</svg>
              </button>
            </div>

            <div class="predictive-search pt-3 pb-5 px-2 md:px-5 overflow-auto grow" data-predictive-search>
              <div class="mb-5">
                <div class="text-12 uppercase text-slate mb-1">
                  Suggestions
                </div>
                <ul role="group" aria-labelledby="predictive-search-queries">
                  {%- for link in section.settings.menu_search.links -%}
                    <li role="option" aria-selected="false">
                      <a href="/search?q={{ link.title | url_encode }}" class="text-link text-12" aria-label="{{ link.title | escape }}">
                        {{ link.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>

            <span class="predictive-search-status visually_hidden" role="status" aria-hidden="true"></span>
          </form>
        </predictive-search>
      </section>
    </div>
    {%- if template.name != 'login' -%}
    <div class="drawer_tab"
      x-show="drawerTab == 'account'"
      x-transition:enter="transition delay-400 md:delay-320 duration-320 ease-sysum"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-1"
      x-transition:leave="transition duration-160 ease-sysum"
      x-transition:leave-start="opacity-1"
      x-transition:leave-end="opacity-0"
      >
      <div class="drawer_header bg-sand">
        <button class="close tabfocus" @click="drawerTab='', showDrawer = false" aria-label="{{ 'accessibility.close' | t }}">
          <span class="p-1">
            <svg class="icon-close fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Close</title>{% render 'icons' with 'icon-close-bold' %}</svg>
          </span>
        </button>
      </div>
      <section class="grow overflow-auto" x-data="{ showLogin: 'yes', email: '' }">
        <div x-show="showLogin === 'no'" class="mx-2 md:mx-5 mb-6">
          <div class="h2 mb-3">{{ 'customer.recover_password.title' | t }}</div>
          {%- form 'recover_customer_password', class: 'col-start-1 col-span-full md:col-span-7 lg:col-span-6' -%}
            <div class="field">
              <input
                type="email"
                x-model="email"
                name="email"
                id="RecoverEmail"
                autocomplete="email"
                autocorrect="off"
                autocapitalize="off"
                {%- if form.errors -%}
                  aria-invalid="true"
                  aria-describedby="RecoverEmail-email-error"
                  autofocus
                {%- endif -%}
                placeholder=" "
              >
              <label for="RecoverEmail">{{ 'customer.login_page.email' | t }}</label>
              {%- if form.errors -%}
                <span id="RecoverEmail-email-error" class="form__message">
                  {{ form.errors.messages.form }}
                </span>
              {%- endif -%}
            </div>
            
            <p class="mt-3">
              {{ 'customer.recover_password.subtext' | t }}
            </p>
            
            <div class="flex w-full mt-3">
              <button class="primary">
                {{ 'customer.login_page.submit' | t }}
              </button>
              <div class="grow text-right">
                <button href="/" @click.prevent="showLogin = 'yes'" class="text-link text-12">
                  {{ 'customer.login_page.cancel' | t }}
                </button>
              </div>
            </div>
          {%- endform -%}
        </div>
        <div x-show="showLogin === 'yes'" class="mx-2 md:mx-5 mb-6">
          <div class="h2 mb-3">{{ 'customer.login_page.title' | t }}</div>
          {%- form 'customer_login', novalidate: 'novalidate' -%}
          <div class="field">
            <input
              type="email"
              x-model="email"
              name="customer[email]"
              id="CustomerEmail"
              autocomplete="email"
              autocorrect="off"
              autocapitalize="off"
              {%- if form.errors contains 'form' -%}
                aria-invalid="true"
              {%- endif -%}
              placeholder=" "
            >
            <label for="CustomerEmail">{{ 'customer.login_page.email' | t }}</label>
          </div>
          
          {%- if form.password_needed -%}
          <div class="field flex flex-row" x-data="{ showPassword: true, passwordValue: '' }">
            <input
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              autocomplete="current-password"
              {%- if form.errors contains 'form' -%}
                aria-invalid="true"
              {%- endif -%}
              placeholder=" "
              :type="showPassword ? 'password' : 'text'"
              x-model="passwordValue"
            >
            <label for="CustomerPassword">{{ 'customer.login_page.password' | t }}</label>
            <div class="p-2.5 bg-white cursor-pointer tabfocus" :class="passwordValue.length > 0 ? 'block' : 'hidden'"  @click="showPassword = !showPassword" tabindex="0">
              <svg x-show="showPassword" class="icon-eye-closed fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Show password</title>{% render 'icons' with 'icon-eye-closed' %}</svg>
              <svg x-show="!showPassword" class="icon-eye-open fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Hide password</title>{% render 'icons' with 'icon-eye-open' %}</svg>
            </div>
          </div>
          {%- endif -%}
          
          <div class="flex w-full mt-3">
            <button class="primary">
              {{ 'customer.login_page.sign_in' | t }}
            </button>
            <div class="grow text-right">
              <button href="/" @click.prevent="showLogin = 'no'" class="text-link text-12">
                {{ 'customer.login_page.forgot_password' | t }}
              </button>
            </div>
          </div>
          {%- endform -%}
          
          <div class="h2 mt-10 mb-3">{{ 'customer.register.title' | t }}</div>
          <ul class="style-dash mb-3">
            <li>Save your details for quicker checkout</li>
            <li>View past order information</li>
            <li>Track your order status and shipping</li>
          </ul>
          <a href="{{ routes.account_register_url }}" class="primary">
            {{ 'customer.login_page.create_account' | t }}
          </a>
        </div>
      </section>
    </div>
    {%- endif -%}
    {%- if template != 'cart' -%}
      <div class="drawer_tab"
        x-show="drawerTab == 'bag'" 
        x-transition:enter="transition delay-400 md:delay-320 duration-320 ease-sysum"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-1"
        x-transition:leave="transition duration-160 ease-sysum"
        x-transition:leave-start="opacity-1"
        x-transition:leave-end="opacity-0"
        >
        {%- render 'cart-drawer' -%}
      </div>
    {%- endif -%}
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    "logo": "https://cdn.shopify.com/s/files/1/0472/7511/4664/files/sysum.png?v=1677885109",
    "sameAs": [
      {{ settings.social_instagram_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_soundcloud_link | json }},
      {{ settings.social_strava_link | json }}      
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{%- if template == "index" or template == "collection" or template == "search" or template == "product" or template == "blog" or template == "article" -%}
  {%- if section.settings.show_announcement -%}
    {%- if section.settings.text != blank -%}
      <div
        id="global-banner"
        class="banner fixed left-2 md:left-5 top-8 md:top-9 z-[101] transition-[top] duration-480 ease-sysum"
        x-show="!hideGlobalBanner"
        x-transition:enter.opacity.delay.0ms
        x-transition:leave.opacity.delay.640ms
        x-intersect="$el.classList.add('fadein', 'ease-sysum')"
      >
        <div 
          class="flex text-12 leading-none bg-slate/80 backdrop-blur-sm text-white font-unis overflow-hidden rounded"
          x-show="!hideGlobalBanner"
          x-transition:enter="transition-[width] duration-640 ease-sysum"
          x-transition:enter-start="w-0"
          x-transition:enter-end="w-full"
          x-transition:leave="transition-[width] duration-640 ease-sysum"
          x-transition:leave-start="w-full"
          x-transition:leave-end="w-0"
          >
            <button 
              class="close relative flex  items-center justify-center w-4 p-0 cursor-pointer tabfocus" 
              @click="hideGlobalBanner = true, sessionStorage.setItem('globalBanner', 'hidden');"
              aria-label="{{ 'accessibility.close' | t }}"
              >
              <span class="p-1">
                <svg class="icon-close fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Close</title>{% render 'icons' with 'icon-close-regular' %}</svg>
              </span>
            </button>
            <div class="relative flex items-center">
              {%- if section.settings.link != blank -%}<a class="group py-1 pr-1.5" href="{{ section.settings.link }}">{%- endif -%}
                <span class="whitespace-nowrap border-b border-transparent group-hover:border-white/80 transition duration-320 ease-sysum">{{ section.settings.text | escape }}</span>
              {%- if section.settings.link != blank -%}</a>{%- endif -%}
            </div>
        </div>
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endif -%}




{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show Global banner",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "default": "Sign up to get 10% off — Offer ends 31 Jan",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
    },
    {
      "type": "link_list",
      "id": "menu_search",
      "label": "Search Menu"
    }
  ]
}
{% endschema %}