<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

{%- liquid 
  assign active_filters = 0
  for filter in collection.filters
    assign active_filters = active_filters | plus: filter.active_values.size
  endfor 
  assign products_on_page = section.settings.products_per_page
-%}

<div x-data="facets()" x-init="facetInit()">
  {%- paginate collection.products by products_on_page -%}

    {%- if collection.products.size == 0 -%}
      <div class="grid_ mb-4 md:mb-6" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
        <div class="px-1 col-span-full col-start-1">
          <p class="text-12">
            {{ 'sections.collection_template.empty' | t -}}
          </p>
        </div>
      </div>
    {%- else -%}
      <aside id="main-collection-filters" class="grid_ facets-wrapper relative" aria-labelledby="verticalTitle" data-id="{{ section.id }}">
        {% render 'facets', results: collection, paginate: paginate %}
      </aside>

      <div class="product-grid-container" id="ProductGridContainer">
        <div class="product_grid">

          <ul id="product-grid" data-id="{{ section.id }}">
              {%- for product in collection.products -%}
                {%- liquid
                  assign lazy_load = false
                  if forloop.index > 4
                    assign lazy_load = true
                  endif 
                -%}
                {%- if collection.metafields.custom.plp_spot_pos and paginate.current_page == 1 and active_filters < 1 -%}
                  {%- if forloop.index == collection.metafields.custom.plp_spot_pos -%}
                    {% assign content_spot = collection.metafields.custom.content_spot.value %}
                    {%- if content_spot.desktop -%}
                      <li class="md:mb-0 col-span-2">
                        <a href="{{ content_spot.url }}" class="group relative flex flex-col rounded w-full h-full bg-white/60 hover:bg-white transition-colors duration-320 ease-sysum overflow-hidden" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">
                          <div class="relative overflow-hidden md:grow">
                            <picture>
                              <source media="(max-width: 767px)" srcset="{{ content_spot.mobile | image_url: width: 256 }} 256w, {{ content_spot.mobile | image_url: width: 810 }} 810w" sizes="(min-width: 780px) calc(50vw - 36px), calc(100vw - 16px)">
                              {{ content_spot.desktop | image_url: width: 2480 | image_tag: loading: 'lazy', widths: '285, 790, 1080, 1280, 1460, 1630, 1780, 1920, 2048', sizes: '(min-width: 780px) calc(50vw - 36px), calc(100vw - 16px)', class: 'group-hover:scale-[102%] transition-transform duration-[1920ms] ease-sysum md:absolute object-cover w-full h-full' }}
                            </picture>
                          </div>
                          <div class="p-[0.875rem] font-sysum tracking-normal text-16 text-center leading-4">
                            {{ content_spot.cta }}
                          </div>
                        </a>
                      </li>
                    {%- endif -%}
                  {%- endif -%}
                {%- endif -%}
                <li class="grid__item">
                  {% render 'card-product',
                    card_product: product,
                    show_vendor: section.settings.show_vendor,
                    lazy_load: lazy_load,
                    section_id: section.id
                  %}
                </li>
              {%- endfor -%}
          </ul>

          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, anchor: '' %}
          {%- endif -%}

            <div 
              id="facet-float"
              class="sticky w-fit bottom-3 transition duration-320 z-20" 
              :class="filterButtonFloat ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-9'"
            >
              <button
                x-html="facetButtonHtml"
                @click="showFacets=true, showFilters=true"
                class="primary_w group" 
              >
              </button>
            </div>

            {% if collection.description != "" %}
              <div class="grid_ mt-8 md:mt-10 text-center" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
                <div class="text-16 col-span-full md:col-start-4 md:col-span-6 mx-1 md:mx-0">{{ collection.description }}</div>
              </div>
            {% endif %} 
            
        </div>
      </div>
    {%- endif -%}
  {%- endpaginate -%}
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": {{ request.origin | json }}
    }
    {%- liquid
      assign dept = collection.title | split: "'" | first
      assign category = collection.title | split: " " | last
    -%}
    {%- if category != "Clothing" and dept == 'Women' or dept == 'Men' -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ dept }}'s Clothing",
        "item": "{{ request.origin }}/collections/{{ dept | downcase | append: 's' }}-running-clothing"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": {{ collection.title | replace: "Men's ", "" | replace: "Women's ", "" | json }}
      }
    {%- else -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": {{ collection.title | json }}
      }
    {%- endif -%}
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": {{ collection.title | json }},
  "numberOfItems": {{ collection.products_count }},
  "itemListElement": [
    {%- for product in collection.products limit: 50 -%}
      {
        "@type": "ListItem",
        "position": {{ forloop.index }},
        "url": {{ request.origin | append: product.url | json }},
        "name": {{ product.title | json }}
        {%- if product.featured_image -%}
          ,"image": {{ product.featured_image | image_url: width: 1200 | prepend: "https:" | json }}
        {%- endif -%}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 2,
      "max": 22,
      "step": 2,
      "default": 22,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    }
  ]
}
{% endschema %}
