<div class="bannerPadding" :class="{ 'pt-0': hideGlobalBanner, 'pt-4': !hideGlobalBanner }"></div>
<article class="article-template pt-2 md:pt-3 mb-3 md:mb-2" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="grid_" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
    <div class="col-span-full col-start-1 md:col-span-8 md:col-start-3 lg:col-span-6 lg:col-start-4 text-center">
      <header class="flex flex-col gap-1">
        <h1 itemprop="headline">{{ article.title | escape }}</h1>
        <span class="text-slate text-12" itemprop="dateCreated pubdate datePublished">
          {% for tag in article.tags %}<a href="{{ blog.url }}/tagged/{{ tag | handleize }}" class="text-link">{{ tag }}</a>{% unless forloop.last %}, {% endunless -%}{% endfor %} — {{ article.published_at | time_tag: format: 'date' }}
        </span>
      </header>
    </div>
  </div>

  {% render 'module-library', source: article %}

  {% if article.metafields.custom.collection %}
    <div class="grid_ my-5" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">
      <div class="col-span-full text-12 mb-3 md:mb-4 mx-1">{{ article.metafields.custom.collection.value.count | json }} Products</div>
      <ul class="col-span-full grid grid-cols-6 md:grid-cols-12 gap-1 w-full">
        {%- for product in article.metafields.custom.collection.value -%}
          <li class="col-span-3">
            {% render 'card-product-simple',
              card_product: product,
              show_vendor: false,
              lazy_load: true
            %}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {% endif %}

  <div class="grid_ my-10" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
    <div class="col-span-full col-start-1 md:col-span-8 md:col-start-3 lg:col-span-6 lg:col-start-4 text-center text-slate text-12">
      <p><a href="{{ blog.url }}">{{ blog.title }}</a> / {% for tag in article.tags limit: 1 %}{{ tag | link_to_tag: tag }}{% endfor %}</p>
    </div>
  </div>
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ shop.name | json }} {% comment %}{{ article.author | json }}{% endcomment %}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section"
}
{% endschema %}
