{% assign full_url = request.host | append: request.path %}
{% assign parts = full_url | split: '/' %}
{% assign last_part = parts | last | capitalize %}

<div class="bannerPadding" :class="{ 'pt-0': hideGlobalBanner, 'pt-4': !hideGlobalBanner }"></div>
{%- paginate blog.articles by 12 -%}
  <div class="main-blog grid_ mt-2 md:mt-3 mb-4 md:mb-6">
    <h1 class="col-span-full md:col-span-6 md:col-start-1 mb-4 md:mb-0 px-1 md:pr-0" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">{{ blog.title | escape }}</h1>
    <ul class="col-span-full md:col-span-6 md:col-start-7 flex justify-start md:justify-end gap-2 px-1 md:pl-0" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
      <li><a class="text-link text-12 flex-none{% if last_part == 'Journal' %} border-black{% endif %}" href="{{ blog.url }}">All</a></li>
      {% for tag in blog.all_tags %}
        <li><a class="text-link text-12 flex-none{% if last_part == tag %} border-black{% endif %}" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="grid_ mb-20 md:mb-25">
    <div class="blog-journal col-span-full grid grid-cols-1 md:grid-cols-3 gap-x-1 gap-y-5 md:gap-y-10">
      {%- for article in blog.articles -%}
        {%- liquid
          assign lazy_load = false
          if forloop.index > 3
            assign lazy_load = true
          endif 
        -%}
        <div class="article">
          {%- render 'article-card',
            article: article,
            show_image: true,
            show_excerpt: false,
            show_badge: false,
            lazy_load: lazy_load
          -%}
        </div>
      {%- endfor -%}
    </div>
  </div>

  {%- if paginate.pages > 1 -%}
    {%- render 'pagination', paginate: paginate -%}
  {%- endif -%}

{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ]
}
{% endschema %}
