<cart-items class="{% if cart == empty %}is-empty{% endif %}">

  <div class="title-wrapper-with-link mb-4 md:mb-6 mx-1 lg:mx-0" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
    <h1 class="title title--primary">{{ 'sections.cart.title' | t }}</h1>
  </div>

  <div id="cart-errors" class="mx-1 lg:mx-0 text-clay text-12" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')"></div>

  <div class="cart__warnings col-span-full mb-4 md:mb-6 mx-1 lg:mx-0 text-12 flex flex-col gap-3" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
    <div>
      <p class="cart__empty-text">{{ 'sections.cart.empty' | t }}</p>
      {%- if shop.customer_accounts_enabled and customer == null -%}
        <p class="cart__login-paragraph">{{ 'sections.cart.login.title' | t }} {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}</p>
      {%- endif -%}
    </div>
    <span><a href="{{ routes.root_url }}" class="primary">{{ 'general.continue_shopping' | t }}</a></span>
  </div>

  <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden mx-0 md:mx-0 col-span-full md:col-span-6 md:col-start-2" method="post" id="cart-form" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
    <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
      <div class="js-contents flex flex-col gap-3 md:gap-2">
        {%- if cart != empty -%}
          {%- for item in cart.items -%}
            <div class="cart-item flex gap-1 text-12 md:text-16" id="CartItem-{{ item.index | plus: 1 }}">
              <div class="cart-item__media w-CM2 md:w-CD2">
                {% assign product = item.product %}
                {% if product.images[1] %}
                  <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1">
                    <div class="cart-item__image-container global-media-settings">
                      <img
                        src="{{ product.images[1] | image_url: width: 300 }}"
                        class="cart-item__image"
                        alt="{{ product.images[1].alt | escape }}"
                        loading="eager"
                        width="150"
                        height="{{ 150 | divided_by: product.images[1].aspect_ratio | ceil }}"
                      >
                    </div>
                  </a>
                {% endif %}
              </div>

              <div class="cart-item__details grow flex flex-col gap-2">
                <div class="flex flex-col">
                  {%- if settings.show_vendor -%}<p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>{%- endif -%}

                  <div>
                    <a href="{{ item.url }}" class="cart-item__name text-link">{{ item.product.title | escape }}</a>
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in item.discounts -%}
                        <li class="discounts__discount text-slate flex gap-0.5 items-center">
                          <svg class="icon-tag fill-slate/60 !h-[0.9rem] !w-[0.9rem]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Bag</title>{% render 'icons' with 'icon-tag' %}</svg>
                          <span>{{ discount.title }} {% if discount.total_amount > 0 %}(-{{ discount.total_amount | money }}){% endif %}</span>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>

                  {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != null -%}
                    <div>
                      {%- if item.product.has_only_default_variant == false -%}
                        {%- for option in item.options_with_values -%}
                          {%-  if option.name != 'Gender'  -%}
                            <div class="product-option">
                              {{ option.name }}: {{ option.value }}
                            </div>
                          {%-  endif -%}
                        {%- endfor -%}
                      {%- endif -%}

                      {%- for property in item.properties -%}
                        {%- assign property_first_char = property.first | slice: 0 -%}
                        {%- if property.last != blank and property_first_char != '_' -%}
                          <div class="product-option">
                            {{ property.first }}:&nbsp;
                            {%- if property.last contains '/uploads/' -%}
                              <a href="{{ property.last }}" class="link" target="_blank">{{ property.last | split: '/' | last }}</a>
                            {%- else -%}
                              {{ property.last }}
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                    {%- if item.selling_plan_allocation.selling_plan.name -%}
                      <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                    {%-  endif -%}
                    {%- if item.product.metafields.custom.preorder -%}
                      <div class="self-start py-0.5 px-2 mt-1 text-white bg-moss text-12">{{- 'products.product.inventory_out_of_stock_continue_selling' | t -}}{{ item.product.metafields.custom.preorder }}</div>
                    {%- endif -%}
                  {%- endif -%}
                </div>

                <div class="cart-item__quantity flex flex-col gap-1" headers="Cart-ColumnQuantity">
                  <div class="cart-item__quantity-wrapper flex gap-1">
                    <label class="visually_hidden" for="Quantity-{{ item.index | plus: 1 }}">{{ 'products.product.quantity.label' | t }}</label>
                    <quantity-input class="quantity cart-quantity flex bg-white/60 rounded">
                      <button class="quantity__button no-js-hidden p-1" name="minus" type="button" aria-label="minus">
                        <span class="visually_hidden">{{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}</span>
                        <svg class="icon-minus pointer-events-none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 16 16"><title>Quantity decrease</title>{% render 'icons' with 'icon-minus-regular' %}</svg>
                      </button>
                      <input
                        class="quantity__input w-5 text-center bg-transparent"
                        data-quantity-variant-id="{{ item.variant.id }}"
                        type="number"
                        name="updates[]"
                        value="{{ item.quantity }}"
                        {% # theme-check-disable %}
                        data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                        min="{{ item.variant.quantity_rule.min }}"
                        {% if item.variant.quantity_rule.max != null %}
                          max="{{ item.variant.quantity_rule.max }}"
                        {% endif %}
                        step="{{ item.variant.quantity_rule.increment }}"
                        {% # theme-check-enable %}
                        aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                        id="Quantity-{{ item.index | plus: 1 }}"
                        data-index="{{ item.index | plus: 1 }}"
                      >
                      <button class="quantity__button no-js-hidden p-1" name="plus" type="button" aria-label="plus">
                        <span class="visually_hidden">{{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}</span>
                        <svg class="icon-plus pointer-events-none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 16 16"><title>Quantity increase</title>{% render 'icons' with 'icon-plus-regular' %}</svg>                                  
                      </button>
                    </quantity-input>

                    <div class="loading-overlay hide"></div>
                    <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}" >
                      <a href="{{ item.url_to_remove }}" class="button button--tertiary block p-1" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                        <svg class="icon-bin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Remove product</title>{% render 'icons' with 'icon-bin' %}</svg>
                      </a>
                    </cart-remove-button>
                  </div>

                  <div id="Line-item-error-{{ item.index | plus: 1 }}" class="cart-item__error" role="alert">
                    <div class="cart-item__error-text text-12 text-clay"></div>
                  </div>
                </div>

              </div>

              <div class="cart-item__totals text-right mr-1 md:mr-0">
                <div class="loading-overlay hide"></div>
                <div class="cart-item__price-wrapper">
                  {%-  liquid
                    if item.variant.compare_at_price
                      assign original_price = item.variant.compare_at_price
                      else 
                      assign original_price = item.original_line_price
                    endif
                  -%}
                  {%- if original_price != item.final_line_price -%}
                    <div class="cart-item__discounted-prices flex gap-0.5">
                      <span class="visually_hidden">{{ 'products.product.price.regular_price' | t }}</span>
                      <span class="cart-item__old-price price price--end"><span class="line-through">{{ original_price | times: item.quantity | money }}</span></span>
                      <span class="visually_hidden">{{ 'products.product.price.sale_price' | t }}</span>
                      <span class="price price--end text-clay">{{ item.final_line_price | money }}</span>
                    </div>
                  {%- else -%}
                    <span class="price price--end">{{ item.original_line_price | money }}</span>
                  {%- endif -%}

                  {%- if item.variant.available and item.unit_price_measurement -%}
                    <div class="unit-price caption">
                      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                      {{ item.variant.unit_price | money }}
                      <span aria-hidden="true">/</span>
                      <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                      {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                        {{- item.variant.unit_price_measurement.reference_value -}}
                      {%- endif -%}
                      {{ item.variant.unit_price_measurement.reference_unit }}
                    </div>
                  {%- endif -%}
                </div>
              </div>

            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>

    <p class="visually_hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually_hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
  </form>

</cart-items>

{% schema %}
{
  "class": "cart__items-wrapper"
}
{% endschema %}