
<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-search.js' | asset_url }}" defer="defer"></script>

<div 
  x-data="facets()" 
  x-init="facetInit()"
>
  <div class="bannerPadding" :class="{ 'pt-0': hideGlobalBanner, 'pt-4': !hideGlobalBanner }"></div>
  <div class="template-search__header grid_ pt-2 md:pt-3 mb-4 md:mb-6" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
    
    <div class="px-1 md:pr-0 col-span-full md:col-span-6 md:col-start-1">
    
      <h1>
        {%- if search.performed -%}
          {{- 'templates.search.title' | t -}}
        {%- else -%}
          {{- 'general.search.search' | t -}}
        {%- endif -%}
      </h1>

      <div class="template-search__search mt-2">
        <main-search>
          <form action="{{ routes.search_url }}" method="get" role="search" class="search">
            <div class="field flex flex-row">
              <div class="flex relative grow">
                <input
                  class="search__input field__input appearance-none"
                  id="Search-In-Template"
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.search' | t }}"
                >
                <label class="field__label" for="Search-In-Template" hidden>{{ 'general.search.search' | t }}</label>
                <input type="hidden" name="options[prefix]" value="last">
                <button type="reset" class="reset__button field__button{% if search.terms == blank %} hidden{% endif %} bg-white w-4" aria-label="{{ 'general.search.reset' | t }}" x-transition:opacity.duration.160ms>
                  <div class="close top-[12px]">
                    <span class="p-1">
                      <svg class="icon-close !fill-slate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Clear</title>{% render 'icons' with 'icon-close-regular' %}</svg>
                    </span>
                  </div>
                </button>
              </div>
              <button type="submit" class="search__button field__button bg-white pl-2 pr-3 group" aria-label="{{ 'general.search.search' | t }}">
                <svg class="icon-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Search</title>{% render 'icons' with 'icon-search' %}</svg>
              </button>
            </div>
          </form>
        </main-search>
      </div>

    </div>

  </div>
  
  {%- if search.performed -%}
    {% assign results_text = 'templates.search.results_with_count_and_term' | t: count: search.results_count %}

    {%- if search.results_count == 0 and search.filters == empty -%}
      <div class="grid_ mb-4 md:mb-6" role="status" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
        <p class="px-1 col-span-full">
          {{ 'templates.search.no_results' | t }}
        </p>
      </div>
    {%- else -%}
      <aside class="grid_ facets-wrapper relative" aria-labelledby="verticalTitle" id="main-search-filters" data-id="{{ section.id }}">
        {% render 'facets', results: search, search_text: results_text %}
      </aside>

      <div class="product-grid-container" id="ProductGridContainer">
        {% paginate search.results by 24 %}
          <div class="product_grid">
            <ul id="product-grid" data-id="{{ section.id }}" role="list">
              {%- for item in search.results -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li class="grid__item">
                  {%- case item.object_type -%}
                    {%- when 'product' -%}
                      {%- capture product_settings -%}{%- if section.settings.product_show_vendor -%}vendor,{%- endif -%}title,price{%- endcapture -%}
                      {% render 'card-product',
                        card_product: item,
                        show_vendor: section.settings.show_vendor,
                        lazy_load: lazy_load
                      %}
                  {%- endcase -%}
                </li>
              {%- endfor -%}
            </ul>
            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate %}
            {%- endif -%}

            <div 
              id="facet-float"
              class="sticky w-fit bottom-3 transition duration-320 z-20" 
              :class="filterButtonFloat ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-9'"
            >
              <button
                x-html="facetButtonHtml"
                @click="showFacets=true, showFilters=true"
                class="primary_w group" 
              >
              </button>
            </div>

          </div>
        {% endpaginate %}
      </div>
    {%- endif -%}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    }
  ]
}
{% endschema %}
