
<div class="customer login" 
  x-data="{ showFields: 'details', email: '' }"
  x-init="showFields = window.location.hash ? window.location.hash.replace('#', '') : 'login'"
  >
  <div x-show="showFields === 'recover'" class="grid_ pt-2 md:pt-3 pb-8 md:pb-10" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
    <h1 id="recover" tabindex="-1" class="mb-6 col-span-full md:col-start-1 md:col-span-10 mx-1 md:mr-0">
      {{ 'customer.recover_password.title' | t }}
    </h1>
    {%- form 'recover_customer_password', class: 'col-span-full md:col-start-1 md:col-span-5 xl:col-start-1 xl:col-span-4 mx-1 md:mr-0' -%}
      {% assign recover_success = form.posted_successfully? %}
      <div class="field">
        <input
          type="email"
          x-model="email"
          name="email"
          id="RecoverEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
          placeholder=" "
        >
        <label for="RecoverEmail">{{ 'customer.login_page.email' | t }}</label>
        {%- if form.errors -%}
          <span id="RecoverEmail-email-error" class="form__message">
            {{ form.errors.messages.form }}
          </span>
        {%- endif -%}
      </div>
      
      <p class="mt-3">
        {{ 'customer.recover_password.subtext' | t }}
      </p>
      
      <div class="flex w-full mt-3">
        <button class="primary">
          {{ 'customer.login_page.submit' | t }}
        </button>
        <div class="grow text-right">
          <a href="#login" @click="showFields = 'login'" class="text-link text-12">
            {{ 'customer.login_page.cancel' | t }}
          </a>
        </div>
      </div>
    {%- endform -%}
  </div>
  
  <div x-show="showFields === 'login'" class="grid_ pt-2 md:pt-3 pb-8 md:pb-10">
    <h1 id="login" tabindex="-1" class="mb-6 col-span-full md:col-start-1 md:col-span-10 mx-1 md:mr-0" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
      {{ 'customer.login_page.title' | t }}
    </h1>
    {%- form 'customer_login', novalidate: 'novalidate', class: 'col-span-full md:col-start-1 md:col-span-5 xl:col-start-1 xl:col-span-4 mx-1 md:mr-0' -%}
      <div x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
        {%- if recover_success == true -%}
          <p class="form__message flex items-top gap-x-1 success mb-5 px-1 md:px-0" tabindex="-1" autofocus x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
            <svg class="icon-tick !fill-moss_l mt-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Success</title>{% render 'icons' with 'icon-tick-bold' %}</svg>
            {{ 'customer.recover_password.success' | t }}
          </p>
        {%- endif -%}
        {%- if form.errors -%}
          <p class="form__message flex items-center gap-x-1 error" tabindex="-1" autofocus>
            <span class="visually_hidden">{{ 'accessibility.error' | t }} </span>
            <svg class="icon-error !fill-clay" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Error</title>{% render 'icons' with 'icon-error' %}</svg>
            {{ 'templates.contact.form.error_heading' | t }}
          </p>
          <ul class="style-dash mb-5 ml-3">
            {{ form.errors | default_errors }}
          </ul>
        {%- endif -%}
        <div class="field">
          <input
            type="email"
            x-model="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder=" "
          >
          <label for="CustomerEmail">{{ 'customer.login_page.email' | t }}</label>
        </div>
        {%- if form.password_needed -%}
          <div class="field flex flex-row" x-data="{ showPassword: true, passwordValue: '' }">
            <input
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              autocomplete="current-password"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder=" "
              :type="showPassword ? 'password' : 'text'"
              x-model="passwordValue"
            >
            <label for="CustomerPassword">{{ 'customer.login_page.password' | t }}</label>
            <div class="p-2.5 bg-white cursor-pointer tabfocus" :class="passwordValue.length > 0 ? 'block' : 'hidden'"  @click="showPassword = !showPassword" tabindex="0">
              <svg x-show="showPassword" class="icon-eye-closed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Show password</title>{% render 'icons' with 'icon-eye-closed' %}</svg>
              <svg x-show="!showPassword" class="icon-eye-open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Hide password</title>{% render 'icons' with 'icon-eye-open' %}</svg>
            </div>
          </div> 
        {%- endif -%}
        <div class="flex w-full mt-3">
          <button class="primary">
            {{ 'customer.login_page.sign_in' | t }}
          </button>
          <div class="grow text-right">
            <a href="#recover"  @click="showFields = 'recover'" class="text-link text-12">
              {{ 'customer.login_page.forgot_password' | t }}
            </a>
          </div>
        </div>
      </div>
    {%- endform -%}
    
    <div class="col-span-full md:col-span-4 md:col-start-8 mt-11 md:mt-0 px-1 md:px-0" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
      <h2 class="mb-3">No account yet?</h2>
      <ul class="style-dash mb-3">
        <li>Save your details for quicker checkout</li>
        <li>View past order information</li>
        <li>Track your order status and shipping</li>
      </ul>
      <a href="{{ routes.account_register_url }}" class="secondary">
        {{ 'customer.login_page.create_account' | t }}
      </a>
    </div>
      
  </div>
  
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [

  ]
}
{% endschema %}
