<div class="bannerPadding" :class="{ 'pt-0': hideGlobalBanner, 'pt-4': !hideGlobalBanner }"></div>
<div class="collection-hero grid_ pt-2 md:pt-3 mb-3 md:mb-2">
  <div class="px-1 col-span-full col-start-1">
    {% assign dept = collection.title | split: "'" | first %}
    {% assign category = collection.title | split: " " | last %}
    {% if category == "Clothing" %}
      <h1 x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
        {{- collection.title -}}
      </h1>
    {% elsif dept == 'Women' or dept == 'Men' %}
      <h1 x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
        <a href="/collections/{{ dept | downcase | append: "s" }}-running-clothing">{{ dept }}</a>
        <span> / </span> 
        {{- collection.title | replace: "Men's ", "" | replace: "Women's ", "" -}}
      </h1>
    {% elsif collection.title == 'Products'%}
      <h1 x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">Trail Running Clothing</h1>
    {% else %}
      <h1 x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">{{- collection.title -}}</h1>
    {% endif %}
  </div>
</div>