<div class="grid_ mb-20 md:mb-25">
  {% render 'sticky-nav' %}
  <div class="flex flex-col gap-10 col-span-full md:col-start-4 md:col-span-7 mx-1 md:mx-0 md:pt-3" x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
    <h1>{{ page.title | escape }}</h1>
    {{ page.content }}
          

    {% for faqList in shop.metaobjects.faqs_list.values %}
      <div>
        <h2>{{ faqList.header }}</h2>
        <ul>
          {% for item in faqList.group.value %}
            <li class="mb-2" x-data="{ open : false }">
              <div class="flex justify-between cursor-pointer relative" @click="open = !open">
                <h3 class="mr-4 !mb-0">{{ item.question }}</h3>
                <svg class="icon-plus absolute right-0 top-0.5 fill-black" :class="{ 'minus' : open }"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Open/Close</title><g id="icon-plus-regular"><path d="M8.75 2H7.25L7.25 14H8.75V2Z"/><path d="M14 7.25L2 7.25V8.75H14V7.25Z"/></g></svg>
              </div>
              <div class="relative overflow-hidden transition-all max-h-0 duration-320 ease-sysum" x-ref="container" :style="open ? 'max-height: ' + $refs.container.scrollHeight + 'px' : ''">
                <div class="pt-2 pb-4 pr-6 speakable-faq">
                  <p>{{ item.answer }}</p>
                </div>
              </div>
            </li>
          {% endfor %}
      </ul>
    </div>
  {% endfor %}

  </div>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "speakable": {
    "@type": "SpeakableSpecification",
    "cssSelector": [".speakable-faq"]
  },
  "mainEntity": [
    {%- for faqList in shop.metaobjects.faqs_list.values -%}
      {%- for item in faqList.group.value -%}
        {
          "@type": "Question",
          "name": "{{ faqList.header }}: {{ item.question | strip_html }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": {{ item.answer | strip_html | json }}
          }
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
      {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
}
</script>

{% schema %}
{
  "name": "t:sections.care-page.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Care Menu Name"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Care Menu"
    }
  ]
}
{% endschema %}
