{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- if predictive_search.performed -%}
{% assign first_column_results_size = predictive_search.resources.queries.size
| plus: predictive_search.resources.collections.size
| plus: predictive_search.resources.pages.size
| plus: predictive_search.resources.articles.size
%}

  <div class="search_suggestions mb-5">
    <div class="text-12 uppercase text-slate mb-1">
      {{- 'templates.search.suggestions' | t -}}
    </div>
    <ul role="group" aria-labelledby="predictive-search-queries">
      {%- for link in section.settings.menu_search.links -%}
        <li role="option" aria-selected="false">
          <a href="/search?q={{ link.title | url_encode }}" class="text-link text-12" tabindex="-1" aria-label="{{ link.title | escape }}">
            {{ link.title | escape }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>

  <div id="predictive-search-results" role="listbox">
    <div class="predictive-search__results-groups-wrapper" >

      {%- if predictive_search.resources.queries.size > 0 -%}
        <div class="mb-5">
          <div class="text-12 uppercase text-slate mb-1">
            {{- 'templates.search.suggested' | t -}}
          </div>
          <ul role="group" aria-labelledby="predictive-search-queries">
            {%- for query in predictive_search.resources.queries -%}
              <li role="option" aria-selected="false">
                <a href="{{ query.url }}" class="text-link text-12" tabindex="-1" aria-label="{{ query.text }}">
                  {{ query.styled_text }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if predictive_search.resources.collections.size > 0 -%}
        <div class="mb-5">
          <div class="text-12 uppercase text-slate mb-1">
            {{- 'templates.search.collections' | t -}}
          </div>
          <ul role="group" aria-labelledby="predictive-search-queries">
            {%- for collection in predictive_search.resources.collections -%}
              <li role="option" aria-selected="false">
                <a href="{{ collection.url }}" class="text-link text-12" tabindex="-1">
                  {{ collection.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
      
      {%- if predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 -%}
        <div class="predictive-search__result-group mb-5">
          {%- if predictive_search.resources.products.size > 0 -%}
            <div>
              <div id="predictive-search-products" class="predictive-search__heading text-12 uppercase text-slate mb-2">
                {{- 'templates.search.products' | t -}}
              </div>
              <ul id="predictive-search-results-products-list" class="predictive-search__results-list grid grid-cols-2 sm:grid-cols-3 gap-x-1 gap-y-5 sm:gap-y-8" role="group" aria-labelledby="predictive-search-products">
                {%- for product in predictive_search.resources.products -%}
                  {% assign lazy_load = false %}
                  {%- if forloop.index > 2 -%}
                    {%- assign lazy_load = true -%}
                  {%- endif -%}
                  <li id="predictive-search-option-product-{{ forloop.index }}" class="predictive-search__list-item w-full" role="option" aria-selected="false">
                    {% render 'card-product',
                      card_product: product,
                      show_vendor: section.settings.show_vendor,
                      lazy_load: lazy_load,
                      section_id: section.id
                    %}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

    </div>

    <div class="predictive-search__loading-state relative" aria-hidden="true">
      <div class="flex justify-center items-center w-full p-10">
        <svg class="h-8 fill-pebble" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 60"><title>Loading</title>{% render 'icons' with 'page-loader' %}</svg>
      </div>
    </div>

    
    {%- if predictive_search.resources.products.size > 0 -%}
    <div id="predictive-search-option-search-keywords" class="predictive-search__search-for-button text-center">
      <button class="predictive-search__item predictive-search__item--term primary_w flex group" tabindex="-1" role="option" aria-selected="false">
        <span data-predictive-search-search-for-text>All results for '{{ predictive_search.terms }}'</span>
      </button>
    </div>
    {% elsif first_column_results_size == 0 %}
    <div id="predictive-search-option-search-keywords" class="predictive-search__search-for-button">
      <div class="mb-3 text-16" role="status">{{ 'templates.search.no_results' | t: terms: predictive_search.terms }}</div>
      <div class="text-12 uppercase text-slate mb-1">
        {{- 'templates.search.suggestions' | t -}}
      </div>
      <ul role="group" aria-labelledby="predictive-search-queries">
        {%- for link in section.settings.menu_search.links -%}
          <li role="option" aria-selected="false">
            <a href="/search?q={{ link.title | url_encode }}" class="text-link text-12" tabindex="-1" aria-label="{{ link.title | escape }}">
              {{ link.title | escape }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    {% endif %}

  </div>

  <span class="hidden" data-predictive-search-live-region-count-value>
    {% liquid
      assign total_results = predictive_search.resources.products.size | plus: first_column_results_size
      if total_results == 0
        echo 'templates.search.no_results' | t: terms: predictive_search.terms
      else
        echo 'templates.search.results_with_count' | t: count: total_results | append: ': '
        if predictive_search.resources.queries.size > 0
          assign count = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size
          echo 'templates.search.results_suggestions_with_count' | t: count: count | append: ', '
        endif
        if predictive_search.resources.products.size > 0
          echo 'templates.search.results_products_with_count' | t: count: predictive_search.resources.products.size
        endif
      endif
    %}
  </span>
{%- endif -%}

{% schema %}
{
  "name": "predictive-search",
  "settings": [
    {
      "type": "link_list",
      "id": "menu_search",
      "label": "Search Menu"
    }
  ]
}
{% endschema %}