<product-recommendations class="block overflow-hidden" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}">
  {% if recommendations.performed and recommendations.products_count > 0 %}

    {%- liquid
        if section.settings.products_to_show > recommendations.products.count
          assign product_cap = recommendations.products.count
        else
          assign product_cap = section.settings.products_to_show
        endif
    -%}

    <div class="block relative ml-1 md:ml-4 mt-10 md:mt-20" x-intersect="$el.classList.add('scrollleft', 'ease-sysum')">
      {%- if section.settings.heading == '""' -%}
        <div class="mb-3 md:mb-4">
          <div class="h3 text-label">{{ section.settings.heading | escape }}</div>
        </div>
      {%- endif -%}
      <div 
        class="w-CM6 md:w-CD12"
        x-data="slider({ slideCount: {{ product_cap }}, deskScroll: true, hasPadding: true })" 
        x-ref="carouselView" 
        x-init="sliderInit()">
        <div x-ref="carouselItem" class="absolute h-0 w-CM3 md:w-CD3 pr-0.5 md:pr-1 box-content">&nbsp;</div>
        <ul
          id=""
          class="flex gap-1 w-full transition-transform ease-linear transform-gpu cursor-grab"
          role="list"
          aria-label="{{ 'general.slider.name' | t }}"
          x-ref="carousel"
          @touchstart="press" @touchmove="slide" @touchend="release" @touchcancel="leave" @mousedown.prevent="press" @mousemove="slide" @mouseup="release" @mouseleave="leave" @click="click"
        >
        {% for recommendation in recommendations.products limit: product_cap %}
          <li class="flex-1">
            {% render 'card-product',
              card_product: recommendation,
              show_vendor: section.settings.show_vendor,
              lazy_load: true,
              section_id: section.id
            %}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</product-recommendations>

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.related-products.settings.heading.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.related-products.settings.show_vendor.label"
    }
  ]
}
{% endschema %}