{%- liquid
  assign image_height = section.settings.cover_image.width | divided_by: section.settings.cover_image.aspect_ratio
  assign sizes = '(min-width: 780px) calc(66.67vw - 45px), calc(100vw - 48px)'
-%}

<div class="grid_ my-20 md:my-30" x-intersect="$el.classList.add('scrollin', 'ease-sysum')">
  <div class="px-2 md:px-0 col-start-1 col-span-full md:col-start-3 md:col-span-8"
    data-media-id="{{ section.settings.video_url.id }}"
    x-data="{ cover: true }"
  >
    {% comment %} <button
      class="block group relative w-full"
      type="button"
      aria-label="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
      x-show="cover"
      @click="cover = !cover"
    > {% endcomment %}
      {{ section.settings.cover_image | image_url: width: 2048 | image_tag: loading: 'eager', width: section.settings.cover_image.width, height: image_height, sizes: sizes, widths: '285, 750, 1024, 1236, 1460, 1630, 1780, 1920, 2048' }}
      {% comment %} <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <svg class="control-play fill-sand/60 backdrop-blur-sm rounded-full w-5 md:w-6 transition-colors duration-320 ease-sysum group-hover:fill-sand/90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><title>Play</title>{% render 'icons' with 'control-play' %}</svg>
      </div>
    </button> {% endcomment %}
    {% comment %} <div class="relative w-full h-0 pb-[56.25%]" x-show="!cover">
    {%- if section.settings.video_url.type == 'youtube' -%}
      <iframe
        src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&autoplay=1&loop=0&origin=http://sysumrunning.com&listType=user_uploads"
        class="js-youtube absolute w-full h-full"
        allow="autoplay; encrypted-media"
        allowfullscreen
        title="{{ section.settings.description | escape }}"
      ></iframe>
    {%- else -%}
      <iframe
        src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1&loop=0&playlist={{ section.settings.video_url.id }}"
        class="js-vimeo absolute w-full h-full"
        allow="autoplay; encrypted-media"
        allowfullscreen
        title="{{ section.settings.description | escape }}"
      ></iframe>
    {%- endif -%}
    </div> {% endcomment %}
  </div>
</div>


{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "placeholder": "t:sections.video.settings.video_url.placeholder",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}