{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">

    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'app.js' | asset_url }}" defer="defer"></script>

    {{ 'app.css' | asset_url | stylesheet_tag }}

    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}

    <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>

    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {{ content_for_header }}

  </head>

  <body
    id="{{ template.name | split: '.' | first }}"
    x-data="setData"
    @resize.window="isMobile = (window.innerWidth < 768) ? true : false"
    :class="{ '!overflow-hidden' : showDrawer || showMenu || showFilters || zoomView || lockScroll, 'blackout' : blackout }"
    @keydown.escape.window="drawerTab='', showDrawer=false, showNav=false, showMenu=false, showFilters=false"
    @lock-screen.window="lockScroll=$event.detail" {% comment %}  Used in addresses {% endcomment %}
    x-cloak
    >

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}        
      gtag('config', 'G-8GMNN2MMMC', {
        'content_group': '{{ template }}'
      });
    </script>

    <main class="grid_ my-1 md:my-4 bg-sand-wet">
      <div class="col-start-1 col-span-full md:col-span-5 flex justify-center">
        <div class="w-full md:w-CD3 mx-1 md:mx-0 mt-3 mb-5 flex flex-col gap-3 md:sticky md:bottom-10 md:mb-10 md:self-end">
          {% comment %} <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div> {% endcomment %}
          <div class="flex flex-col gap-1">
            <h1>{{ 'gift_cards.issued.subtext' | t }}</h1>
            <div class="h1">
              {{ gift_card.initial_value | money }}
              {%- if gift_card.enabled == false or gift_card.expired -%}
                ({{ 'gift_cards.issued.expired' | t }})
              {%- endif -%}
            </div>
          </div>
          <div>{{ 'gift_cards.issued.info' | t }}</div>
          {%- assign gift_card_balance = gift_card.balance | money -%}
          {%- if gift_card.balance != gift_card.initial_value -%}
            <p>{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card_balance }}</p>
          {%- endif -%}
          <div class="flex flex-col gap-1">
            <div class="flex p-3 md:p-4 bg-white rounded w-full">
              <input
              type="text"
              class="gift-card__number h1 w-full grow"
              value="{{ gift_card.code | format_code }}"
              aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
              readonly
              >
              <button class="link gift-card__copy-link"><svg class="icon-copy !w-3 !h-3 fill-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Copy code</title>{% render 'icons' with 'icon-copy' %}</svg></button>
            </div>
            <div class="gift-card__copy-code">
              <span class="gift-card__copy-success form__message flex gap-1 success" role="status"></span>
              <template>
                <svg class="icon-tick !fill-moss_l mt-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Success</title>{% render 'icons' with 'icon-tick-bold' %}</svg>
                {{ 'gift_cards.issued.copy_code_success' | t }}
              </template>
            </div>
          </div>
          {%- if gift_card.pass_url -%}
            <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet">
              <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}" loading="lazy">
            </a>
          {%- endif -%}
          <div class="flex flex-col gap-2">
            <button class="primary" onclick="window.print();">{{ 'gift_cards.issued.print_gift_card' | t }}</button>
            <a href="{{ shop.url }}" class="button secondary" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">{{ 'gift_cards.issued.shop_link' | t }}</a>
          </div>
        </div>
      </div>
      <div class="col-start-1 md:col-start-6 col-span-full md:col-span-7">
        <img src="{{ 'sysum-buttercup.jpg' | asset_img_url: '1024x1280' }}" alt="SYSUM Gift Card" height="{{ 570 | divided_by: 1.5 }}" width="570" loading="lazy">
      </div>
    </main>

    <div hidden>
      <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
    </div>

    <div class="page-loader flex flex-col gap-3 fixed justify-center items-center inset-0 bg-sand z-[1000] transition-opacity duration-320 ease-sysum">
      <svg class="h-8 fill-pebble" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 30"><title>Sysum loading</title>{% render 'icons' with 'buttercup' %}</svg>
      <noscript><div class="text-16">This website requires JavaScript to work</div></noscript>
    </div>
    
  </body>
</html>

<script>
  {% comment %} 
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.gift-card__qr-code'), {
    text: document.querySelector('.gift-card__qr-code').dataset.identifier,
    width: 120,
    height: 120,
    imageAltText: string.qrImageAlt
    });
  });
  {% endcomment %}

  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);

  var isMessageDisplayed = false
  document
  .querySelector('.gift-card__copy-link')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(document.querySelector('.gift-card__number').value).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>
